﻿@model Suppliro.Entities.CompanyInformation

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                Edit company information
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm("Update", "Company", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.HiddenFor(x => x.Id)
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <h2>General Information</h2>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(m => m.TradingName)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.TradingName, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "Trading Name" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(m => m.RegisteredName)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.RegisteredName, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "Registered Name" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(m => m.VATNumber)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.VATNumber, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "VAT Number" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(m => m.TelNumber)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.TelNumber, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "Tel Number" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(m => m.VATPercentage)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.VATPercentage, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "VAT Percentage" })
                            <label>
                                (14%)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <h2>Banking Information</h2>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(m => m.AccountName)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.AccountName, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "Account Name" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(m => m.AccountNumber)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.AccountNumber, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "Account Number" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(m => m.BankName)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.BankName, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "Bank Name" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(m => m.BranchCode)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.BranchCode, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "Branch Code" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(m => m.BranchName)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.BranchName, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "Branch Name" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <h2>Address</h2>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(m => m.Address1)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.Address1, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "Address" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(m => m.Address2)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.Address2, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "Address" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(m => m.PostalCode)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "Postal Code" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(m => m.Region)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.Region, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "Region" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(m => m.City)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.City, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "City" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

