﻿@using Suppliro.ViewModels
@model SupplierWithOpenOrders

@{
    ViewBag.Title = "Index";
}

<h2>Suppliers with open orders</h2>
<div class="row">
    <div class="col-sm-2">
        <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Open Orders", "Index", "Admin", null, null)</li>
                        <li>@Html.ActionLink("Closed Orders", "Closed", "Admin", null, null)</li>
                        <li>@Html.ActionLink("Settings", "Settings", "Admin", null, null)</li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="col-sm-10">
        <input type="submit" class="col-md-offset-10 btn btn-primary" value="Process Orders" />
        <br/>
        <br/>
        <div class="container body-content padding">
            <table class="table" id="Suppliers">
                <thead>
                    <tr>
                        <th>
                            Supplier
                        </th>
                        <th style="width: 140px;"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Suppliers)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TradingName)
                            </td>
                            <td style="min-width: 120px">
                                @Html.ActionLink("View Supplier", "Order", "Admin", new { id = item.SupplierId }, new { @class = "btn btn-primary" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#Suppliers').DataTable({
                "paging": true,
                "ordering": true
            });
        })
    </script>
}
