﻿@using Suppliro.ViewModels
@model SupplierOrderLines
@{
    ViewBag.Title = "Order";
}

<h2>Order</h2>
<div class="row">
    <div class="col-sm-2">
        <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Open Orders", "Index", "Admin", null, null)</li>
                        <li>@Html.ActionLink("Closed Orders", "Closed", "Admin", null, null)</li>
                        <li>@Html.ActionLink("Settings", "Settings", "Admin", null, null)</li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="col-sm-10">
        <div class="container body-content padding">
            <div class="form-group">
                <label class="col-md-2 control-label">Supplier:</label>
                <div class="col-md-10">
                    <label class="control-label">Test Supplier</label>
                </div>
            </div>
            <div class="lg-margin2x"></div>
            <table class="table" id="Orders">
                <thead>
                    <tr>
                        <th>
                            Customer
                        </th>
                        <th>
                            Product
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th style="width: 140px;"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.OrderLines != null)
                    {
                        foreach (var item in Model.OrderLines)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#Orders').DataTable({
                "paging": true,
                "ordering": true
            });
        })
    </script>
}
