﻿
@{
    ViewBag.Title = "Settings";
}

<h2>Settings</h2>
<div class="row">
    <div class="col-sm-2">
        <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Open Orders", "Index", "Admin", null, null)</li>
                        <li>@Html.ActionLink("Closed Orders", "Closed", "Admin", null, null)</li>
                        <li>@Html.ActionLink("Settings", "Settings", "Admin", null, null)</li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="row">
            Database records (@Html.ActionLink("Create Search Index From Database [+]", "CreateIndex", "Admin"))
        </div>
        <div class="row">
            <br/>
            <br/>
        </div>
        <div class="row">
            @using (Html.BeginForm("Upload", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <table>
                    <tr>
                        <td>File:</td>
                        <td>
                            <input type="file" name="UploadedFile" />
                        </td>
                    </tr>
                    <tr>
                        <td>Price Percentage Increase</td>
                        <td>
                            <input type="text" name="Percentage" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" name="Submit" value="Submit" />
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>
