﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suppliro - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style id="custom-style"></style>
    @RenderSection("style", required: false)
</head>
<body>
    <div id="wrapper">
        <header id="header" class="header3">
            <div id="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="header-top-left">
                                <ul id="top-links" class="clearfix">
                                    <li><a href="@Url.Action("Customer", "Account")" title="My Account"><span class="top-icon top-icon-user"></span><span class="hide-for-xs">My Account</span></a></li>
                                    <li><a href="@Url.Action("Index", "ShoppingCart")" title="My Cart"><span class="top-icon top-icon-cart"></span><span class="hide-for-xs">My Cart</span></a></li>
                                </ul>
                            </div><!-- End .header-top-left -->
                            <div class="header-top-right">
                                <div class="header-text-container pull-right">
                                    @Html.Partial("_LoginPartial")
                                </div><!-- End .pull-right -->
                            </div><!-- End .header-top-right -->
                        </div><!-- End .col-md-12 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End #header-top -->

            <div id="inner-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12 logo-container">
                            <h1 class="logo clearfix">
                                <span>Suppliro</span>
                                <a href="@Url.Action("Index", "Home")" title="Suppliro"><img src="~/Content/img/SuppliroMedium.png" alt="Suppliro" width="350" height="85"></a>
                            </h1>
                        </div><!-- End .col-md-5 -->
                        <div class="col-md-7 col-sm-7 col-xs-12 header-inner-right">

                            <div class="header-inner-right-wrapper clearfix">
                                <div class="dropdown-cart-menu-container pull-right">
                                    <div class="btn-group dropdown-cart">
                                        @{ Html.RenderAction("CartSummary", "ShoppingCart");  }
                                    </div><!-- End .btn-group -->
                                </div><!-- End .dropdown-cart-menu-container -->
                            </div><!-- End .header-inner-right-wrapper -->
                        </div><!-- End .col-md-7 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->

                <div id="main-nav-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 clearfix">

                                <nav id="main-nav">
                                    <div id="responsive-nav">
                                        <div id="responsive-nav-button">
                                            Menu <span id="responsive-nav-button-icon"></span>
                                        </div><!-- responsive-nav-button -->
                                    </div>
                                    <ul class="menu clearfix">
                                        <li>@Html.ActionLink("HOME", "Index", "Home", new { area = "" }, new { @class = "Logo" })</li>
                                        <li>@Html.ActionLink("Cart", "Index", "ShoppingCart", new { area = "" }, new { @class = "Logo" })</li>
                                        <li>@Html.ActionLink("Stock Sheet", "StockSheet", "Product", new { area = "" }, new { @class = "Logo", @title = "Stock Sheet" })</li>
                                        <li>@Html.ActionLink("FBP", "FBP", "Product", new { area = "" }, new { @class = "Logo", @title = "Frequently Bought Products" })</li>
                                        <li>@Html.ActionLink("About Us", "About", "Home", new { area = "" }, new { @class = "Logo" })</li>
                                        <li>@Html.ActionLink("Contact Us", "Contact", "Home", new { area = "" }, new { @class = "Logo" })</li>
                                    </ul>
                                </nav>

                                <div id="quick-access">
                                    @using (Html.BeginForm("Products", "Product", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-inline quick-search-form", role = "form" }))
                                    {
                                        <div class="form-group">
                                            <input id="query" name="query" type="text" class="form-control" placeholder="Search here">
                                        </div><!-- End .form-inline -->
                                        <button type="submit" id="quick-search" class="btn btn-custom"></button>
                                    }
                                </div><!-- End #quick-access -->
                            </div><!-- End .col-md-12 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->

                </div><!-- End #nav -->
            </div><!-- End #inner-header -->
        </header><!-- End #header -->

        <section id="content">
            <div id="breadcrumb-container">
            </div>
            <div class="container">
                @RenderBody()
            </div><!-- End .container -->

        </section><!-- End #content -->

        <footer id="footer">
            <div id="inner-footer">

                <div class="container">
                    <div class="row">

                        <div class="col-md-3 col-sm-4 col-xs-12 widget">
                            <h3>INFORMATION</h3>

                            <ul class="contact-list">
                                <li><strong>Suppliro (Pty) Ltd</strong></li>
                                <li>Cape Town</li>
                                <li>South Africa</li>
                                <li>Working Days: Monday - Friday</li>
                                <li>Operating Hours: 08h30 – 16h30</li>
                            </ul>
                        </div><!-- End .widget -->

                        <div class="clearfix visible-sm"></div>
                    </div><!-- End .row -->
                </div><!-- End .container -->

            </div><!-- End #inner-footer -->

            <div id="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-sm-7 col-xs-12 footer-social-links-container">
                            @*<ul class="social-links clearfix">
                                    <li><a href="#" class="social-icon icon-email"></a></li>
                                </ul>*@
                        </div><!-- End .col-md-7 -->

                        <div class="col-md-5 col-sm-5 col-xs-12 footer-text-container">
                            <p>&copy; 2016 Suppliro (Pty) Ltd. All Rights Reserved.</p>
                        </div><!-- End .col-md-5 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End #footer-bottom -->

        </footer><!-- End #footer -->
    </div><!-- End #wrapper -->
    <a href="#" id="scroll-top" title="Scroll to Top"><i class="fa fa-angle-up"></i></a><!-- End #scroll-top -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-82675768-1', 'auto');
        ga('send', 'pageview');

    </script>
</body>
</html>
