﻿@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        <label>@Context.User.Identity.Name</label>
        @Html.AntiForgeryToken()
        if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            <p class="header-link"> - ( @Html.ActionLink("Suppliro Admin", "Index", "Home", new { Area = "Admin" }, new { @class = "site_title" }) )</p>
            <p class="header-link">- ( @Html.ActionLink("Register a Client", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) )</p>
        }
        <p class="header-link"><a href="javascript:document.getElementById('logoutForm').submit()">- Log off</a></p>
    }
}
else
{
    <p class="header-text">Welcome to Suppliro!</p><p class="header-link">- @Html.ActionLink("Sign In", "Login", "Account")</p>
}
