﻿<div id="cartSum">
    <button type="submit" class="btn btn-custom dropdown-toggle" data-toggle="dropdown"
            onclick="location.href='@Url.Action("Index", "ShoppingCart")'">
        <span class="cart-menu-icon"></span>
        @ViewData["CartCount"] item(s) <span class="drop-price">- R @ViewData["CartAmount"]</span>
    </button>
</div>
