﻿@using PagedList;
@using PagedList.Mvc;
@using Suppliro.Entities

@model Customer
@{
    ViewBag.Title = "Customer";
}

@section style{
    <link href="~/Content/Loader.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
}
<div class="printSection"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h3>Account Information</h3>

        <div class="tab-container left clearfix">
            <ul id="tabStrip" class="nav-tabs clearfix">
                <li class="active"><a href="#0" data-toggle="tab">Business Information</a></li>
                <li class=""><a href="#1" data-toggle="tab">Password</a></li>
                <li class=""><a href="#2" data-toggle="tab">Addresses</a></li>
                <li class=""><a href="#3" data-toggle="tab">Invoice</a></li>
                <li class=""><a href="#4" data-toggle="tab">Invoice History</a></li>
                <li class=""><a href="#5" data-toggle="tab">Pro Forma Invoices</a></li>
                @*<li class=""><a href="#4" data-toggle="tab">Order History</a></li>*@
            </ul>

            <div class="tab-content clearfix">
                <div class="tab-pane active" id="0">@Html.Action("Information", "Customer")</div>
                <div class="tab-pane" id="1"></div>
                <div class="tab-pane" id="2"></div>
                <div class="tab-pane" id="3"></div>
                <div class="tab-pane" id="4"></div>
                <div class="tab-pane" id="5"></div>
                @*<div class="tab-pane" id="4"></div>*@
            </div><!-- End .tab-content -->
        </div><!-- End .tab-container -->
    </div><!-- End .col-md-12 -->
</div><!-- End .row -->



@section scripts{
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Admin/Content/vendors/pnotify/dist/pnotify.js"></script>

    <script type="text/javascript">
        function Success() {
            new PNotify({
                title: 'Success',
                text: 'Information has been updated!',
                type: 'success',
                addclass: 'notification-success'
            });
        };

        $(function () {

            //Gets the order lines for the "Pro Forma Invoice"
            $(document).on('click', '#viewModal', function (e) {
                var modalBody = $(".modal-body");
                var tableRowId = $(this).closest('tr').attr('id');
                $('#printBtn').attr('onclick', "location.href='/Customer/DownloadOrderAsPDF/" + tableRowId + "'");

                $.ajax({
                    url: "/Customer/OrderLines",
                    data: { Id: tableRowId },
                    cache: false,
                    type: "get",
                    dataType: "html",
                    success: function (result) {
                        modalBody.empty();
                        modalBody.append(result);
                        modalBody.attr('id', tableRowId);
                        $('#myModal').modal('show');                       
                    }
                });
            });

            //Gets invoice lines for invoice
            $(document).on('click', '#invoiceViewModal', function (e) {
                var modalBody = $(".invoice-modal-body");
                var tableRowId = $(this).closest('tr').attr('id');
                $('#printBtn').attr('onclick', "location.href='/Customer/DownloadInvoiceAsPDF/" + tableRowId + "'");

                $.ajax({
                    url: "/Customer/CustomerInvoice",
                    data: { Id: tableRowId },
                    cache: false,
                    type: "get",
                    dataType: "html",
                    success: function (result) {
                        modalBody.empty();
                        modalBody.append(result);
                        modalBody.attr('id', tableRowId);
                        $('#invoiceModal').modal('show');
                    }
                });
            });

            $('#tabStrip a').click(function (e) {
                e.preventDefault()
                var tabID = $(this).attr("href").substr(1);

                $(".tab-pane").each(function () {
                    $(this).empty();
                });

                $("#" + tabID).empty().append("<div class='loader'><img src='/Content/img/Loader/ajax-loader.gif' alt='Loading' /></div>");

                $.ajax({
                    url: "/Account/CustomerTab",
                    data: { Id: tabID },
                    cache: false,
                    type: "get",
                    dataType: "html",
                    success: function (result) {
                        $("#" + tabID).empty().append("<div id='replaceDiv'>" + result + "</div>");
                    }
                });
                $(this).tab('show')
            });
        });
    </script>
}