﻿
@{
    Layout = null;
}

<style>
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }
</style>

<div id="dlgLogin" class="modal">
    <h2>Log In</h2>
    <div class="xs-margin"></div>

    <div class="input-group">
        <span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">Email&#42;</span></span>
        <input id="email" type="text" required class="form-control input-lg" placeholder="Your Email">
    </div><!-- End .input-group -->
    <div class="input-group xs-margin">
        <span class="input-group-addon"><span class="input-icon input-icon-password"></span><span class="input-text">Password&#42;</span></span>
        <input id="password" type="password" required class="form-control input-lg" placeholder="Your Password">
    </div><!-- End .input-group -->
    <span class="help-block text-right"><a href="#">Forgot your password?</a></span>
    <div class="sm-margin"></div><!-- space -->
</div>


<script type="text/javascript">
    $(function () {
        $("#dlgLogin").dialog({
            modal: true,
            "z-index": 1,
            autoOpen: true,
            width: 800,
            resizable: false,
            buttons: {
                Login: function () {
                    $.post("@Url.Action("Login", "Account")",
                    {
                        email: $('#email').val(),
                        password: $('#password').val()
                    },
                    function (data, status, xhr) {
                        if (data.Success) {
                            alert('great');
                            $('#dlgLogin').dialog("close");
                            $('#divLogin').load("@Url.Action("GetLoginButton", "Account")");
                        } else {

                        }
                    });
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        })
        .find(".ui-dialog-title").css({
            display: "none"
        }).end()
        .find(".ui-dialog-titlebar-close").css({
            top: 0,
            right: 0,
            margin: 0,
            "z-index": 999
        });
    });
</script>
