﻿@using Suppliro.Models
@model LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/EmptyLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <header class="content-title">
                <h1 class="title">Login</h1>
                <div class="md-margin"></div><!-- space -->
            </header>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h2>Registered Customers</h2>
                    <p>If you have an account with us, please log in.</p>
                    <div class="xs-margin"></div>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="input-group">
                            <span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">@Html.LabelFor(m => m.Email)</span></span>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg", @placeholder = "Your Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div><!-- End .input-group -->
                        <div class="input-group xs-margin">
                            <span class="input-group-addon"><span class="input-icon input-icon-password"></span><span class="input-text">@Html.LabelFor(m => m.Password)</span></span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", @placeholder = "Your Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div><!-- End .input-group -->
                        <span class="help-block text-right">@Html.ActionLink("Forgot your password?", "ForgotPassword")</span>
                        <button type="submit" class="btn btn-custom-2">LOGIN</button>
                    }
                    <div class="sm-margin"></div><!-- space -->
                </div><!-- End .col-md-6 -->
            </div><!-- End.row -->
        </div><!-- End .col-md-12 -->
    </div><!-- End .row -->
</div><!-- End .container -->