﻿@model Suppliro.Areas.Admin.ViewModels.HomeIndexViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}


<div class="page-title">
    <div class="title_left">
        <h3>
            Order Handling
        </h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Current Open Orders (Not Mailed)</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @*OLD OUTPUT CODE*@
                @{
                    if (Model.lstSupplierOrder == null || Model.lstSupplierOrder.Count == 0)
                    {
                        <div class="bs-example" data-example-id="simple-jumbotron">
                            <div class="jumbotron">
                                <h1>No Open Supplier Orders</h1>
                            </div>
                        </div>
                    }
                    else
                    {
                        <table class="table table-striped" id="Suppliers">
                            <thead>
                                <tr>
                                    <th>
                                        Supplier
                                    </th>
                                    <th>
                                        Is Complete
                                    </th>
                                    <th>
                                        Is Emailed
                                    </th>
                                    <th>
                                        Total Value
                                    </th>
                                    <th>
                                        Total Marked Up Value
                                    </th>
                                    <th style="width: 30px;">Complete</th>
                                    <th style="width: 30px;">Email</th>
                                    <th style="width: 30px;">View</th>
                                    <th style="width: 30px;">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.lstSupplierOrder)
                                {
                                    <tr>
                                        <td>
                                            @item.Supplier.TradingName
                                        </td>
                                        <td>
                                            @item.IsComplete
                                        </td>
                                        <td>
                                            @item.IsEmailed
                                        </td>
                                        <td>
                                            @item.TotalValue
                                        </td>
                                        <td>
                                            @item.TotalMarkedupValue
                                        </td>
                                        <td style="min-width: 25px">
                                            @Html.ActionLink("Mark Complete", "MarkComplete", "Home", new { id = item.Id }, new { @class = "btn btn-primary" })
                                        </td>
                                        <td style="min-width: 25px">
                                            @Html.ActionLink("Email Order", "ProcessOrders", "Home", new { id = item.Id }, new { @class = "btn btn-primary" })
                                        </td>
                                        <td style="min-width: 25px">
                                            @Html.ActionLink("View Order", null, null, new { @id = item.SupplierId, @class = "btn btn-primary viewclick" })
                                        </td>
                                        <td style="min-width: 25px">
                                            @Html.ActionLink("Edit Order", "Order", "SupplierOrder", new { id = item.Id }, new { @class = "btn btn-primary" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                }


            </div>
        </div>
    </div>
</div>

<div class="row supplierorder">

</div>

<div class="row supplierorderedited">

</div>

@section scripts{
    @*OLD DISPLAY CODE*@
    @*<script type="text/javascript">
        $('.viewclick').click(function (e) {
            e.preventDefault()

            var id = $(this).attr("id");

            $(".supplierorder").empty().append("<div class='loader'><img src='/Content/img/Loader/ajax-loader.gif' alt='Loading' /></div>");

            $.ajax({
                url: "@Url.Action("SupplierOrder", "Home")",
                data: { id: id },
                cache: false,
                type: "get",
                dataType: "html",
                success: function (result) {
                    $(".supplierorder").empty().append(result);
                }
            });
        });
    </script>*@

<script type="text/javascript">
        $('.viewclick').click(function (e) {
            e.preventDefault()

            var id = $(this).attr("id");

            $(".supplierorderedited").empty().append("<div class='loader'><img src='/Content/img/Loader/ajax-loader.gif' alt='Loading' /></div>");

            $.ajax({
                url: "@Url.Action("SupplierOrderEdited", "Home")",
                data: { id: id },
                cache: false,
                type: "get",
                dataType: "html",
                success: function (result) {
                    $(".supplierorderedited").empty().append(result);
                }
            });
        });
</script>
<script type="text/javascript">
    function viewClick() {

    }
</script>

}