﻿@model Suppliro.Areas.Admin.ViewModels.HomeIndexViewModel

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>@Model.SupplierOrder.Supplier.TradingName</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            @Html.ActionLink("Email", "ProcessOrders", "Home", new { @id = Model.SupplierOrder.Id }, null)
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-striped" id="Suppliers">
                <thead>
                    <tr>
                        <th>
                            Customer Name
                        </th>
                        <th>
                            Order Number
                        </th>
                        <th>
                            Product Code
                        </th>
                        <th>
                            Product Unit
                        </th>
                        <th>
                            Qty
                        </th>
                    </tr>
                </thead>
                <tbody>
                   <tr>
                    <td><h2>Order</h2></td>
                       <td> </td>
                       <td> </td>
                       <td> </td>
                       <td> </td>
                   </tr>
                    @foreach (var item in Model.SupplierOrder.SupplierOrderLines)
                    {
                        <tr>
                            <td>
                                @item.CustomerName
                            </td>
                            <td>
                                @item.OrderNumber
                            </td>
                            <td>
                                @item.ProductCode
                            </td>
                            <td>
                                @item.ProductUnit
                            </td>
                            <td>
                                @item.Quantity
                            </td>
                        </tr>
                    }
                    <tr>
                        <td><h2>Items Added</h2></td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    @if (Model.lstSupplierOrderLineAdded.Count > 0)
                    {
                        foreach (var item in Model.lstSupplierOrderLineAdded)
                        {
                            <tr style="color:green;">
                                <td>
                                    @item.CustomerName
                                </td>
                                <td>
                                    @item.OrderNumber
                                </td>
                                <td>
                                    @item.ProductCode
                                </td>
                                <td>
                                    @item.ProductUnit
                                </td>
                                <td>
                                    @item.Quantity
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td><h4>None</h4></td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                        </tr>
                    }
                    <tr>
                    <td><h2>Items Quantity Changed</h2></td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    @if (Model.lstSupplierOrderLineChanged.Count > 0)
                    {
                        foreach (var item in Model.lstSupplierOrderLineChanged)
                        {
                            <tr style="color:orange;">
                                <td>
                                    @item.CustomerName
                                </td>
                                <td>
                                    @item.OrderNumber
                                </td>
                                <td>
                                    @item.ProductCode
                                </td>
                                <td>
                                    @item.ProductUnit
                                </td>
                                <td>
                                    @item.Quantity
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td><h4>None</h4></td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                        </tr>
                    }
                    <tr>
                        <td><h2>Items Removed</h2></td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    @if (Model.lstSupplierOrderLineRemoved.Count > 0)
                    {
                        foreach (var item in Model.lstSupplierOrderLineRemoved)
                        {
                            <tr style="color:red;">
                                <td>
                                    @item.CustomerName
                                </td>
                                <td>
                                    @item.OrderNumber
                                </td>
                                <td>
                                    @item.ProductCode
                                </td>
                                <td>
                                    @item.ProductUnit
                                </td>
                                <td>
                                    @item.Quantity
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td><h4>None</h4></td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>