﻿@model Suppliro.Entities.SupplierOrder

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>@Model.Supplier.TradingName</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            @Html.ActionLink("Email", "ProcessOrders", "Home", new { @id = Model.Id }, null)
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-striped" id="Suppliers">
                <thead>
                    <tr>
                        <th>
                            Customer Name
                        </th>
                        <th>
                            Order Number
                        </th>
                        <th>
                            Product Code
                        </th>
                        <th>
                            Product Unit
                        </th>
                        <th>
                            Qty
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SupplierOrderLines)
                    {
                        <tr>
                            <td>
                                @item.CustomerName
                            </td>
                            <td>
                                @item.OrderNumber
                            </td>
                            <td>
                                @item.ProductCode
                            </td>
                            <td>
                                @item.ProductUnit
                            </td>
                            <td>
                                @item.Quantity
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>