﻿a.Logo
{
    background: url(../Img/SuppliroSmall.png) no-repeat top left;
     display: block;
     width: 173px;
     height: 45px;
     margin-top: 2px;
     text-indent: -9999px; /* hides the link text */
}