﻿p.signUptext {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    text-align: center;
}

.btn-primary {
  color: #ffffff;
  background-color: #8cc63d;
  border-color: #357ebd;
}
