﻿body {
}

.modal-dialog {
    width: 70%; /* respsonsive width */
}

.modal {
}

p {
   padding: 0 !important;
   margin: 0 !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.loader {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.min-height-section {
    min-height: 250px;
}

.padding-left{
    padding-left:20px;
}

@media print {
  body * {
    display:none;
  }

  .printable {
    display:block;
  }
}
