﻿@model Suppliro.Areas.Admin.ViewModels.ProductReplaceViewModel

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 md-margin">
        <div class="lg-margin2x"></div>
        <h2>1. Insert a Quantity (If left empty it will use original quantity ordered)</h2>
        <input id="replaceQuantity" name="quantity" type="text" class="form-control" placeholder="Quantity">
        <div class="lg-margin2x"></div>

        <header class="content-title">
            <div class="title-bg">
                <h2>You are Replacing</h2>
                <h1 id="@Model.ProductId" class="prod-id">@Model.ProductCode</h1>                        
            </div><!-- End .title-bg -->
        </header>    

        <h2>2. Search for a product to replace with</h2>    
        <div class="input-group">            
            <input id="query" name="query" type="text" class="form-control" placeholder="Product Name">
            <span class="input-group-btn">
                <button class="btn btn-custom btn-search" type="submit">Search</button>
            </span>
        </div>
             
    </div>
</div>
<div class="lg-margin"></div>
@if (Model != null && Model.Products != null && Model.Products.Count >= 1)
{
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 md-margin">
            <table class="table table-striped" id="Suppliers">
                <thead>
                    <tr>
                        <th>
                            Supplier
                        </th>
                        <th>
                            Product Code
                        </th>
                        <th>
                            Replace
                        </th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Products)
                {
                    <tr id="@item.ProductId">
                        <td>
                            @item.SupplierCode
                        </td>
                        <td>
                            @item.Code
                        </td>
                        <td><input type="button" value="Replace" class="btn btn-custom btn-sm btn-replace" /></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}
