﻿@using Suppliro.Entities

@model List<SupplierOrder>

@{
    ViewBag.Title = "History";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Supplier Order History</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @{
                    if (Model == null || Model.Count() == 0)
                    {
                        <div class="bs-example" data-example-id="simple-jumbotron">
                            <div class="jumbotron">
                                <h1>No Suppliers Orders Found</h1>
                            </div>
                        </div>
                    }
                    else
                    {
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Trading Name</th>
                                    <th>Order Number</th>
                                    <th>Date Placed</th>
                                    <th>Date Completed</th>
                                    <th>
                                        Total Value
                                    </th>
                                    <th>
                                        Total Marked Up Value
                                    </th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var ord in Model)
                                {
                                    <tr>
                                        <td>@ord.Supplier.TradingName</td>
                                        <td>@ord.OrderNumber</td>
                                        <td>@ord.DateCreated</td>
                                        <td>@ord.DateCompleted</td>
                                        <td>
                                            @ord.TotalValue
                                        </td>
                                        <td>
                                            @ord.TotalMarkedupValue
                                        </td>
                                        <td>@Html.ActionLink("Edit", "Order", new { id = @ord.Id })</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                }
            </div>
        </div>
    </div>
</div>

