﻿@using Suppliro.Entities

@model List<SupplierOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}
<div id='orderView' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='orderViewContent'></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Supplier Orders</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @{
                    if (Model == null || Model.Count() == 0)
                    {
                        <div class="bs-example" data-example-id="simple-jumbotron">
                            <div class="jumbotron">
                                <h1>No Suppliers Orders Found</h1>
                            </div>
                        </div>
                    }
                    else
                    {
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Trading Name</th>
                                    <th>Order Number</th>
                                    <th>Date Placed</th>
                                    <th>
                                        Date Completed
                                    </th>
                                    <th>
                                        Total Value
                                    </th>
                                    <th>
                                        Total Marked Up Value
                                    </th>
                                    <th>View</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var ord in Model)
                                {
                                    <tr>
                                        <td>@ord.Supplier.TradingName</td>
                                        <td>@ord.OrderNumber</td>
                                        <td>@ord.DateCreated</td>
                                        <td>@ord.DateCompleted</td>
                                        <td>
                                            @ord.TotalValue
                                        </td>
                                        <td>
                                            @ord.TotalMarkedupValue
                                        </td>
                                        <td><a onclick="jsViewOrder(@ord.Id)" style="cursor:pointer;">View</a></td>
                                        <td>@Html.ActionLink("Edit", "Order", new { id = @ord.Id })</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                }
            </div>
        </div>
    </div>
</div>

@****SUBMIT ITEM****@
<script type="text/javascript">
    function jsViewOrder(id) {
        var supplierOrderID = id;

        var modalBody = $("#orderViewContent");

        $.ajax({
            url: '@Url.Action("GetSupplierOrderView", "SupplierOrder")',
            cache: false,
            type: "get",
            dataType: "html",
            data: { "supplierOrderID": supplierOrderID },
            success: function (result) {
                modalBody.empty();
                modalBody.append(result);
                $('#orderView').modal('show');
            }
        });
        }
</script>
