﻿@using Suppliro.Entities

@model SupplierOrder

@{
    ViewBag.Title = "Order";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<div class="modal fade" id="modalReplace" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="modalReplaceContent" class="modal-body">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id='modalProduct' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='modalProductContent'></div>
        </div>
    </div>
</div>

<div id='modalProductQuantity' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='modalProductQuantityContent'></div>
        </div>
    </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            @Html.HiddenFor(Model => Model.Id)
            <h2>@Model.Supplier.TradingName</h2>
            <input type="button" id="btnProductAdd" class="btn btn-dark pull-right" value="Add Product" />
            <div class="clearfix"></div>
        </div>
        <div class="x_content">            
            <table class="table table-striped" id="Suppliers">
                <thead>
                    <tr>
                        <th>
                            Customer Name
                        </th>
                        <th>
                            Order Number
                        </th>
                        <th>
                            Product Code
                        </th>
                        <th>
                            Product Unit
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Qty
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Replace
                        </th>
                        <th>
                            Remove
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SupplierOrderLines.Where(x => x.IsReplaced == false))
                    {
                        <tr id="@item.Id">
                            <td>
                                @item.CustomerName
                            </td>
                            <td>
                                @item.OrderNumber
                            </td>
                            <td class="item-name">@item.ProductCode</td>
                            <td>
                                @item.ProductUnit
                            </td>
                            <td>
                                @item.ProductPrice
                            </td>
                            <td>
                                @item.Quantity
                            </td>
                            <td style="width: 25px">
                                <input id="@item.Id" type="button" value="Quantity" class="btn btn-custom btn-sm btnQty" />
                            </td>
                            <td style="width: 25px">
                                <input id="@item.ProductId" type="button" value="Replace" class="btn btn-custom btn-sm atb" />
                            </td>
                            <td style="width: 25px">
                                <input id="@item.Id" type="button" value="Remove" class="btn btn-custom btn-rem atb" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{

    <script type="text/javascript">

        $(function () {

            //ADD PRODUCT
            $(document).on('click', '#btnProductAdd', function (e) {
                var modalBody = $("#modalProductContent");

                $.ajax({
                    url: '@Url.Action("ProductAdd", "SupplierOrder")',
                    cache: false,
                    type: "get",
                    dataType: "html",
                    data: {"iSupplierOrderID": @Model.Id},
                    success: function (result) {
                        modalBody.empty();
                        modalBody.append(result);
                        $('#modalProduct').modal('show');
                    }
                });
            });

            //SUBMIT ADD PRODUCT
            $(document).on('submit', 'form', function (e) {
                e.preventDefault();
                var modalBody = $("#modalProductContent");
                var modal = $('#modalProduct');

                $.post(this.action, $(this).serialize(), function (response) {

                    modalBody.empty();
                    modal.modal('toggle');
                    window.location.href = "/Admin/SupplierOrder/Order/" + response.orderID.toString() + "/";

                }, 'json');
            });

            //EDIT QUANTITY
            $(".btnQty").click(function () {
                var trLineId = $(this).closest("tr").attr('id');

                var modalBody = $("#modalProductQuantityContent");
                var tr = $(this).closest("tr");
                var prodCode = tr.find(".item-name").html();
                var trLineId = $(this).closest("tr").attr('id');

                $.ajax({
                    url: '@Url.Action("GetProductNewQuantityPartial", "SupplierOrder")',
                    cache: false,
                    type: "get",
                    dataType: "html",
                    data: {"iSupplierOrderID": @Model.Id, iSupplierOrderLineID: trLineId, strProductName: prodCode},
                    success: function (result) {
                        modalBody.empty();
                        modalBody.append(result);
                        $('#modalProductQuantity').modal('show');
                    }
                });
            });

            //REPLACE PRODUCT
            $(".btn-sm.atb").click(function () {
                var modalBody = $("#modalReplaceContent");

                var tr = $(this).closest("tr");
                var trLineId = $(this).closest("tr").attr('id');
                var prodId = tr.find(".atb").attr('id');
                var modalBody = $("#modalReplaceContent");
                var prodCode = tr.find(".item-name").html();
                var iSupplierOrderID = @Model.Id;
                $(".modal-body").attr('id', tr.attr('id'));

                $.ajax({
                    url: "/SupplierOrder/GetSupplierOrderProductReplacePartial",
                    data: { iProductID: prodId, strProductName: prodCode, iSupplierOrderLineID: trLineId, iSupplierOrderID: iSupplierOrderID },
                    cache: false,
                    type: "get",
                    dataType: "html",
                    success: function (result) {
                        modalBody.empty();
                        modalBody.append(result);
                        $('#modalReplace').modal('show');
                    }
                });
            });

            //PRODUCT REMOVE
            $(".btn-rem").click(function () {
                var trLineId = $(this).closest("tr").attr('id');

                $.ajax({
                    url: "/SupplierOrder/Remove",
                    data: { id: trLineId },
                    cache: false,
                    type: "get",
                    dataType: "html",
                    success: function (result) {
                        location.reload();
                    }
                });
            });

        });


    </script>

    <script src="~/Areas/Admin/Content/vendors/pnotify/dist/pnotify.js"></script>
}

