﻿@model Suppliro.Areas.Admin.Controllers.SupplierOrderController.SupplierOrderEditProductAdd

@{
    var uom = "";
    var actualUoM = "";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Add new Product</h4>
</div>

@using (Html.BeginForm("ProductAdd", "SupplierOrder", FormMethod.Post, new { @id = "frmProductAdd", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-body">

        <div class="form-horizontal">
            <label id="lblValidationMessage" style="display:none; color:red;"></label>
            @*CURRENT ORDER ID*@
            @Html.HiddenFor(Model => Model.iOrderID)

            <div class="form-group">
                <label for="lstOrderNumbers">Add To Order Number</label>
                @Html.DropDownListFor(Model => Model.strSelectedOrderNumber, new SelectList(Model.lstOrderNumbers), new { id = "lstOrderNumbers", name = "lstOrderNumbers", @onchange = "jsOrderNumberSelect()", @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="strCustomerName">Customer Name</label>
                @Html.EditorFor(x => Model.strCustomerName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
            <div class="form-group">
                <label>Product Category</label>
                @Html.DropDownListFor(x => Model.iSelectedProductCategory, new SelectList(Model.lstProductCategoryList, "Id", "Name"), new { id = "lstProductCategoryList", name = "lstProductCategoryList", @onchange = "jsProductCategoryListSelect()", @class = "form-control" })
            </div>
             <div class="form-group">
                <label for="lstProductList">Product</label>
                @Html.DropDownListFor(Model => Model.iSelectedProduct, new SelectList(Model.lstProductList, "Id", "DisplayName"), new { id = "lstProductList", name = "lstProductList", @onchange = "jsProductListSelect()", @class = "form-control" })
            </div>
           
            @Html.HiddenFor(Model => Model.product.Id)
            <div class="form-group">
                <label for="product_Code">Product Name: </label><br />
                @Html.EditorFor(Model => Model.product.Code, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly"} })
            </div>
            <div class="form-group">
                <label for="product_Supplier_TradingName">Supplier: </label><br />
                @Html.EditorFor(Model => Model.product.Supplier.TradingName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
            <div class="form-group">
                <label>Price R:</label>
                @Html.EditorFor(Model => Model.product.MarkedUpPrice, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
            <div class="form-group">
                <label for="iQuantity">Quantity (Qty)</label><br />
                @Html.EditorFor(Model => Model.iQuantity, new { htmlAttributes = new { @placeholder = "0", @onchange = "jsQuantityValueChange()" }  })
                @Html.ValidationMessageFor(Model => Model.iQuantity)
            </div>
            @Html.HiddenFor(Model => Model.product.MinOrder)
            @Html.HiddenFor(Model => Model.product.UoMValue)
            @Html.HiddenFor(Model => Model.product.Unit)
            <div class="form-group">
                @if (Model.product.UoMValue > 0)
                {
                    uom = string.Format("{0} x {1} ({2})", Model.product.MinOrder, Model.product.UoMValue, Model.product.Unit);
                }
                else
                {
                    uom = string.Format("{0} ({1})", Model.product.MinOrder, Model.product.Unit);
                }
                <label for="OrderUnit">Order Unit:</label>
                <input id="OrderUnit" class="form-control" readonly="readonly" value="@uom" />
            </div>
            <div class="form-group">
                <label for="product_UoMDefaultPriceValue">Unit Price R:</label>
                @Html.EditorFor(x => Model.product.UoMDefaultPriceValue, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
            <div class="form-group">
                
                @if (Model.product.UoMValue > 0)
                {
                    actualUoM = string.Format("{1} ({2})", Model.product.MinOrder, Model.product.UoMValue, Model.product.Unit);
                }
                else
                {
                    actualUoM = string.Format("({1})", Model.product.MinOrder, Model.product.Unit);
                }
                
                <label id="lblActualQuantity" for="dblActualQuantity">Actual Quantity @actualUoM:</label>
                @Html.EditorFor(Model => Model.dblActualQuantity, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @placeholder = "0" } })
            </div>
            <div class="form-group">
                <label for="dblActualPrice">Actual Price R:</label>
                @Html.EditorFor(Model => Model.dblActualPrice, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @placeholder = "0" } })
            </div>
            
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancel</button>
        <input id="btnSubmit" class="btn btn-primary" value="Add" onclick="submitForm()" />
    </div>
  }

<script type="text/javascript">

</script>


@****ADD / REMOVE PRODUCT QUANTITY****@
<script type="text/javascript">
    function jsQuantityValueChange() {
        var quantity = $('#iQuantity').val();
        var markedUpPrice = $('#product_MarkedUpPrice').val();
        var minOrder = $('#product_MinOrder').val();
        var actualQuantity = 0;
        var actualPrice = 0;

        //Parse min order (convert to american float format)
        if (minOrder.toString().indexOf(",") > 0)
        {
            var strMinOrder = minOrder.toString();
            minOrder = parseFloat(strMinOrder.replace(",", "."));
        }
        //Parse markedUpPrice (convert to american float format)
        if (markedUpPrice.toString().indexOf(",") > 0)
        {
            var strMarkedUpPrice = markedUpPrice.toString();
            markedUpPrice = parseFloat(strMarkedUpPrice.replace(",", "."));
        }

        if (quantity > 0)
        {
            actualQuantity = quantity * minOrder;
            actualPrice = quantity * markedUpPrice;
            actualPrice = actualPrice.toFixed(2);

            $('#dblActualQuantity').val(actualQuantity);
            $('#dblActualPrice').val(actualPrice);
        }
        else
        {
            actualQuantity = 0;
            actualPrice = 0;
            $('#dblActualQuantity').val(actualQuantity);
            $('#dblActualPrice').val(actualPrice);
        }
        }
</script>

@****PRODUCT CATEGORY SELECT****@
<script type="text/javascript">
    function jsProductCategoryListSelect() {
        var iSelectedProductCategory = $("#lstProductCategoryList option:selected").val();

        if (iSelectedProductCategory > 0)
        {
            $.ajax({
                url: '@Url.Action("ProductCategoryChange", "SupplierOrder")',
                type: "POST",
                data: {"iSelectedProductCategory": iSelectedProductCategory},
                success: function (SupplierOrderEditProductAdd) {

                    // states is your JSON array
                    //Populate Product List
                    $("#lstProductList").html("");

                    $.each(SupplierOrderEditProductAdd.lstProductList, function (i, item) {
                        $("#lstProductList").append(
                    $('<option></option>').val(item.Id).html(item.DisplayName));
                    });

                    $('#product_Id').val(SupplierOrderEditProductAdd.product.Id);
                    $('#product_Code').val(SupplierOrderEditProductAdd.product.Code);
                    $('#product_Supplier_TradingName').val(SupplierOrderEditProductAdd.product.Supplier.TradingName);
                    $('#product_MarkedUpPrice').val(SupplierOrderEditProductAdd.product.MarkedUpPrice);
                    $('#iQuantity').val("0");
                    $('#product_MinOrder').val(SupplierOrderEditProductAdd.product.MinOrder);
                    $('#product_UoMValue').val(SupplierOrderEditProductAdd.product.UoMValue);
                    $('#product_UoMDefaultPriceValue').val(SupplierOrderEditProductAdd.product.UoMDefaultPriceValue);
                    $('#dblActualQuantity').val("0");
                    $('#dblActualPrice').val("0");

                    if (SupplierOrderEditProductAdd.product.UoMValue > 0)
                    {

                        var minOrder = SupplierOrderEditProductAdd.product.MinOrder;
                        //Parse min order (convert to american float format)
                        if (minOrder.toString().indexOf(",") > 0)
                        {
                            var strMinOrder = minOrder.toString();
                            minOrder = parseFloat(strMinOrder.replace(",", "."));
                        }

                        var UoMValue = SupplierOrderEditProductAdd.product.UoMValue;
                        //Parse uom value (convert to american float format)
                        if (UoMValue.toString().indexOf(",") > 0)
                        {
                            var strUoMValue = UoMValue.toString();
                            UoMValue = parseFloat(strUoMValue.replace(",", "."));
                        }

                        var uomValue = minOrder * uomValue;
                        uom = uomValue.toString() + " " + "(" + SupplierOrderEditProductAdd.product.Unit.toString() + ")";
                        actualUoM = uomValue.toString() + " " + "(" + SupplierOrderEditProductAdd.product.Unit.toString() + ")";
                        $('#OrderUnit').val(uom);
                        $('#lblActualQuantity').text("Actual Quantity " + actualUoM + ": ");
                    }
                    else
                    {
                        var minOrder = SupplierOrderEditProductAdd.product.MinOrder;
                        //Parse min order (convert to american float format)
                        if (minOrder.toString().indexOf(",") > 0)
                        {
                            var strMinOrder = minOrder.toString();
                            minOrder = parseFloat(strMinOrder.replace(",", "."));
                        }

                        var uomValue = minOrder;
                        uom = uomValue.toString() + " " + "(" + SupplierOrderEditProductAdd.product.Unit.toString() + ")";
                        actualUoM = "(" + SupplierOrderEditProductAdd.product.Unit.toString() + ")";
                        $('#OrderUnit').val(uom);
                        $('#lblActualQuantity').text("Actual Quantity " + actualUoM + ": ");
                    }
                }
            });
        }

        }
</script>

@****PRODUCT SELECT****@
<script type="text/javascript">
    function jsProductListSelect() {
        var iSelectedProduct = $("#lstProductList option:selected").val();

        if (iSelectedProduct > 0)
        {
            $.ajax({
                url: '@Url.Action("ProductChange", "SupplierOrder")',
                type: "POST",
                data: { "iSelectedProduct": iSelectedProduct },
                success: function (SupplierOrderEditProductAdd) {

                    // states is your JSON array

                    $('#product_Id').val(SupplierOrderEditProductAdd.product.Id);
                    $('#product_Code').val(SupplierOrderEditProductAdd.product.Code);
                    $('#product_Supplier_TradingName').val(SupplierOrderEditProductAdd.product.Supplier.TradingName);
                    $('#product_MarkedUpPrice').val(SupplierOrderEditProductAdd.product.MarkedUpPrice);
                    $('#iQuantity').val("0");
                    $('#product_MinOrder').val(SupplierOrderEditProductAdd.product.MinOrder);
                    $('#product_UoMValue').val(SupplierOrderEditProductAdd.product.UoMValue);
                    $('#product_UoMDefaultPriceValue').val(SupplierOrderEditProductAdd.product.UoMDefaultPriceValue);
                    $('#dblActualQuantity').val("0");
                    $('#dblActualPrice').val("0");

                    if (SupplierOrderEditProductAdd.product.UoMValue > 0)
                    {

                        var minOrder = SupplierOrderEditProductAdd.product.MinOrder;
                        //Parse min order (convert to american float format)
                        if (minOrder.toString().indexOf(",") > 0)
                        {
                            var strMinOrder = minOrder.toString();
                            minOrder = parseFloat(strMinOrder.replace(",", "."));
                        }

                        var UoMValue = SupplierOrderEditProductAdd.product.UoMValue;
                        //Parse uom value (convert to american float format)
                        if (UoMValue.toString().indexOf(",") > 0)
                        {
                            var strUoMValue = UoMValue.toString();
                            UoMValue = parseFloat(strUoMValue.replace(",", "."));
                        }

                        var uomValue = minOrder * uomValue;
                        uom = uomValue.toString() + " " + "(" + SupplierOrderEditProductAdd.product.Unit.toString() + ")";
                        actualUoM = uomValue.toString() + " " + "(" + SupplierOrderEditProductAdd.product.Unit.toString() + ")";
                        $('#OrderUnit').val(uom);
                        $('#lblActualQuantity').text("Actual Quantity " + actualUoM + ": ");
                    }
                    else
                    {
                        var minOrder = SupplierOrderEditProductAdd.product.MinOrder;
                        //Parse min order (convert to american float format)
                        if (minOrder.toString().indexOf(",") > 0)
                        {
                            var strMinOrder = minOrder.toString();
                            minOrder = parseFloat(strMinOrder.replace(",", "."));
                        }

                        var uomValue = minOrder;
                        uom = uomValue.toString() + " " + "(" + SupplierOrderEditProductAdd.product.Unit.toString() + ")";
                        actualUoM = "(" + SupplierOrderEditProductAdd.product.Unit.toString() + ")";
                        $('#OrderUnit').val(uom);
                        $('#lblActualQuantity').text("Actual Quantity " + actualUoM + ": ");
                    }
                }
            });
        }

        }
</script>

@****ORDER NUMBER SELECT****@
<script type="text/javascript">
    function jsOrderNumberSelect() {
        var strOrderNumberSelect = $("#lstOrderNumbers option:selected").text();

        if (strOrderNumberSelect != null && strOrderNumberSelect != "")
        {
            $.ajax({
                url: '@Url.Action("OrderNumberChange", "SupplierOrder")',
                type: "POST",
                data: { "strOrderNumberSelect": strOrderNumberSelect },
                success: function (item) {

                    // states is your JSON array
                    $('#strCustomerName').val(item.strCustomerName);
                }
            });
        }

        }
</script>

@****SUBMIT ITEM****@
<script type="text/javascript">
    function submitForm() {
        var iQuantity = $('#iQuantity').val();

        if (iQuantity > 0)
        {
            var message = "";
            $('#lblValidationMessage').hide();
            $('#lblValidationMessage').text(message);
            $("#frmProductAdd").submit();
        }
        else
        {
            var message = "No Quantity Specified";
            $('#lblValidationMessage').show();
            $('#lblValidationMessage').text(message);
        }

        }
</script>



