﻿@model Suppliro.Areas.Admin.ViewModels.ProductNewQuantity

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Replace Quantity</h4>
</div>

@using (Html.BeginForm("ProductNewQuantity", "SupplierOrder", FormMethod.Post, new { @id = "frmProductNewQuantity", @name = "frmProductNewQuantity" }))
{
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 md-margin">

                @Html.HiddenFor(Model => Model.iSupplierOrderID)
                @Html.HiddenFor(Model => Model.iSupplierOrderLineID)
                @Html.HiddenFor(Model => Model.strProductName)

                <header class="content-title">
                    <div class="title-bg">
                        <h1 class="prod-id">@Model.strProductName</h1>
                    </div><!-- End .title-bg -->
                </header>
                <div class="form-group">
                    <label for="iProductQuantity">New Quantity (Qty)</label><br />
                    @Html.EditorFor(Model => Model.iProductQuantity, new { htmlAttributes = new { @placeholder = "0" } })
                    @Html.ValidationMessageFor(Model => Model.iProductQuantity)
                </div>
                <label id="lblValidationMessage" style="display:none; color:red;"></label>
                <div class="lg-margin2x"></div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancel</button>
        <input id="btnSubmit" class="btn btn-primary" value="Replace" onclick="submitForm()" />
    </div>
}

@****SUBMIT ITEM****@
<script type="text/javascript">
    function submitForm() {
        var iQuantity = $('#iProductQuantity').val();
        var iSupplierOrderID = $('#iSupplierOrderID').val();

        if (iQuantity > 0)
        {
            var message = "";
            $('#lblValidationMessage').hide();
            $('#lblValidationMessage').text(message);
            $("#frmProductNewQuantity").submit();

            var modalBody = $("#modalProductQuantityContent");
            var modal = $('#modalProductQuantity');
            modalBody.empty();
            modal.modal('toggle');

            //window.location.href = "/Admin/Home/Index/";
            location.reload();
            //window.location.href = "/Admin/SupplierOrder/Order/" + iSupplierOrderID.toString() + "/";
        }
        else
        {
            var message = "No Quantity Specified";
            $('#lblValidationMessage').show();
            $('#lblValidationMessage').text(message);
        }

        }
</script>

@****PRODUCT CATEGORY SELECT****@
<script type="text/javascript">
    function jsProductCategoryListSelect() {
        var iSelectedProductCategory = $("#lstProductCategoryList option:selected").val();

        if (iSelectedProductCategory > 0)
        {
            $.ajax({
                url: '@Url.Action("ProductReplaceCategoryChange", "SupplierOrder")',
                type: "POST",
                data: {"iSelectedProductCategory": iSelectedProductCategory},
                success: function (products) {

                    // states is your JSON array
                    $('#iQuantity').val("0");
                    //Populate Product List
                    $("#lstProductList").html("");

                    $.each(products.lstProducts, function (i, item) {
                        $("#lstProductList").append(
                    $('<option></option>').val(item.Id).html(item.DisplayName));
                    });
                }
            });
        }

        }
</script>
