﻿
@{
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Supplier Order</h4>
</div>


    <div class="modal-body">

        <div class="form-horizontal">
            <label id="lblValidationMessage" style="display:none; color:red;"></label>
            @*CURRENT ORDER ID*@
            @*@Html.HiddenFor(Model => Model.iOrderID)*@

            <div class="form-group">
                <label for="lstOrderNumbers">Order</label>
                <h3>Order 1</h3>
            </div>

        </div>

    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
        @*<input id="btnSubmit" class="btn btn-primary" value="Add" onclick="submitForm()" />*@
    </div>

