﻿@model Suppliro.Areas.Admin.ViewModels.SupplierOrderProductReplaceViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Replace Product</h4>
</div>

@using (Html.BeginForm("SupplierOrderProductReplace", "SupplierOrder", FormMethod.Post, new { @id = "frmSupplierOrderProductReplace", @name = "frmSupplierOrderProductReplace" }))
{
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 md-margin">

                @Html.HiddenFor(Model => Model.iProductID)
                @Html.HiddenFor(Model => Model.iSupplierOrderLineID)
                @Html.HiddenFor(Model => Model.iSupplierOrderID)

                <header class="content-title">
                    <div class="title-bg">
                        <h2>You are Replacing</h2>
                        <h1 id="@Model.iProductID" class="prod-id">@Model.strProductCode</h1>
                    </div><!-- End .title-bg -->
                </header>

                <h2>Search for a product to replace with</h2>
                <div class="form-group">
                    <label>Product Category</label>
                    @Html.DropDownListFor(x => Model.iSelectedProductCategory, new SelectList(Model.lstProductCategoryList, "Id", "Name"), new { id = "lstProductCategoryList", name = "lstProductCategoryList", @onchange = "jsProductCategoryListSelect()", @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="lstProductList">Product</label>
                    @Html.DropDownListFor(Model => Model.iSelectedProduct, new SelectList(Model.lstProductList, "Id", "DisplayName"), new { id = "lstProductList", name = "lstProductList", @onchange = "jsProductListSelect()", @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="iQuantity">Quantity (Qty)</label><br />
                    @Html.EditorFor(Model => Model.iQuantity, new { htmlAttributes = new { @placeholder = "0" } })
                    @Html.ValidationMessageFor(Model => Model.iQuantity)
                </div>
                <label id="lblValidationMessage" style="display:none; color:red;"></label>
                <div class="lg-margin2x"></div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div style="float:left;">
            <button class="btn">Add</button>
        </div>
        <button class="btn" data-dismiss="modal">Cancel</button>
        <input id="btnSubmit" class="btn btn-primary" value="Replace" onclick="submitForm()" />
    </div>
}

@****SUBMIT ITEM****@
<script type="text/javascript">
    function submitForm() {
        var iQuantity = $('#iQuantity').val();

        if (iQuantity > 0)
        {
            var message = "";
            $('#lblValidationMessage').hide();
            $('#lblValidationMessage').text(message);
            $("#frmSupplierOrderProductReplace").submit();

            var modalBody = $("#modalReplaceContent");
            var modal = $('#modalReplace');
            modalBody.empty();
            modal.modal('toggle');

            var iSupplierOrderID = $('#iSupplierOrderID').val();
            window.location.href = "/Admin/SupplierOrder/Order/" + iSupplierOrderID.toString() + "/";
        }
        else
        {
            var message = "No Quantity Specified";
            $('#lblValidationMessage').show();
            $('#lblValidationMessage').text(message);
        }

        }
</script>

@****PRODUCT CATEGORY SELECT****@
<script type="text/javascript">
    function jsProductCategoryListSelect() {
        var iSelectedProductCategory = $("#lstProductCategoryList option:selected").val();

        if (iSelectedProductCategory > 0)
        {
            $.ajax({
                url: '@Url.Action("ProductReplaceCategoryChange", "SupplierOrder")',
                type: "POST",
                data: {"iSelectedProductCategory": iSelectedProductCategory},
                success: function (products) {

                    // states is your JSON array
                    $('#iQuantity').val("0");
                    //Populate Product List
                    $("#lstProductList").html("");

                    $.each(products.lstProducts, function (i, item) {
                        $("#lstProductList").append(
                    $('<option></option>').val(item.Id).html(item.DisplayName));
                    });
                }
            });
        }

        }
</script>
