﻿@model Suppliro.ViewModels.UserOrderViewModel
@{
    ViewBag.Title = "Order";
}

<h2>Manage Account</h2>
<div class="lg-margin"></div>
<div class="row">
    <div class="col-sm-2">
        <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("User", "UserInfo", "Manage", null, null)</li>
                        <li>@Html.ActionLink("Company", "Company", "Manage", null, null)</li>
                        <li>@Html.ActionLink("Order", "Order", "Manage", null, null)</li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="col-sm-10">
        <table class="table" id="Orders">
            <thead>
                <tr>
                    <th>
                        Order Numnber
                    </th>
                    <th>
                        % Completed
                    </th>
                    <th>
                        Date
                    </th>
                    <th style="width: 140px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Orders)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PercentageComplete)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td style="min-width: 120px">
                            @Html.ActionLink("View", "ViewOrder", "Order", new { id = item.OrderId, count = 1 }, new { @class = "btn btn-primary" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $('#Orders').DataTable({
                "paging": true,
                "ordering": true
            });
        })
    </script>
}