﻿@model Suppliro.Entities.Supplier

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                @{
                    if (Model.Id == 0)
                    {
                        <h1>Add Supplier</h1>
                    }
                    else
                    {
                        <h1> Edit </h1>
                    }
                }
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm("Add", "Supplier", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.HiddenFor(x => x.Id)
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <h2>General Information</h2>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            <label>Do we have credit with this supplier?</label>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.CheckBoxFor(x => x.HasCredit, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(m => m.TradingName)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.TradingName, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "Trading Name" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(m => m.RegisteredName)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.RegisteredName, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "Registered Name" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(m => m.VATNumber)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.VATNumber, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "VAT Number" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(m => m.TelNumber)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.TelNumber, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "Telephone Number" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(m => m.CellNumber)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.CellNumber, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "Cell Number" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-md-3 col-sm-3 col-xs-12">
                        </div>
                        <label class="col-md-6 col-sm-6 col-xs-12">
                            Use ";" to seperate email addresses
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(m => m.EmailAddress)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "Email" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(m => m.FaxNumber)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.FaxNumber, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "Fax" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <h2>Physical Address</h2>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(m => m.PhysicalAddress1)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.PhysicalAddress1, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "Address" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(m => m.PhysicalAddress2)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.PhysicalAddress2, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "Address" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(m => m.PhysicalPostalCode)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.PhysicalPostalCode, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "Postal Code" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(m => m.PhysicalRegion)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.PhysicalRegion, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "Region" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(m => m.PhysicalTown)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.PhysicalTown, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "City" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <h2>Postal Address</h2>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(x => x.PostalAddress1)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.PostalAddress1, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "Address" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(x => x.PostalAddress2)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.PostalAddress2, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "Address" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(x => x.PostalPostalCode)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.PostalPostalCode, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "Postal Code" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(x => x.PostalRegion)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.PostalRegion, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "Region" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(x => x.PostalTown)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.PostalTown, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "City" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-primary">Cancel</button>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
