﻿@model Suppliro.Areas.Admin.ViewModels.SupplierListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Suppliers</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a href="Supplier/Edit" class="collapse-link"><i class="glyphicon glyphicon-plus"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @{
                    if (Model.Suppliers.Count == 0)
                    {
                        <div class="bs-example" data-example-id="simple-jumbotron">
                            <div class="jumbotron">
                                <h1>No Suppliers Found</h1>
                            </div>
                        </div>
                    }
                    else
                    {
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Trading Name</th>
                                    <th>Registered Name</th>
                                    <th>VAT Number</th>
                                    <th>Email Address</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var sup in Model.Suppliers)
                                {
                                <tr>
                                    <td>@sup.TradingName</td>
                                    <td>@sup.RegisteredName</td>
                                    <td>@sup.VATNumber</td>
                                    <td>@sup.EmailAddress</td>
                                    <td>@Html.ActionLink("Edit", "Edit", new { id = @sup.Id })</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    }
                }
            </div>
        </div>
    </div>
</div>
