﻿@model Suppliro.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "Cart";
}

<header class="content-title">
    <div class="title-bg">
        <h2 class="title">Cart</h2>
    </div><!-- End .title-bg -->
</header>
<div class="lg-margin"></div>
@{
    if (Model.CartItems == null || Model.CartItems.Count == 0)
    {
        <div class="row">
            <div class="col-lg-12">
                <h2>Your cart is Empty.</h2>
                <div class="lg-margin3x"></div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-lg-6">
                <h3>
                    Review your cart
                </h3>
            </div>
            <div class="col-lg-6">
                <h3 class="pull-right">
                    Total: @Model.CartTotal
                </h3>
            </div>
        </div>
        <div class="lg-margin"></div>
        <div id="update-message">
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table" id="Cart">
                    <thead>
                        <tr>
                            <th>
                                Code
                            </th>
                            <th>
                                Price (each)
                            </th>
                            <th>
                                Total Price
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CartItems)
                        {
                            var prodTotal = @item.Product.MarkedUpPrice * @item.Count;

                            <tr id="row-@item.RecordId">
                                <td>
                                    @item.Product.Code
                                </td>
                                <td>
                                    @item.Product.MarkedUpPrice
                                </td>
                                <td>@prodTotal</td>
                                <td id="item-count-@item.RecordId">
                                    @item.Count
                                </td>
                                <td>
                                    <a href="#" class="RemoveLink" data-id="@item.RecordId">Remove from cart</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="lg-margin"></div>
        <div class="row">
            <div class="col-md-offset-3">
                <div class="col-md-8">
                    @Html.ActionLink("Place Order", "CreateOrder", "ShoppingCart", null, new { @class = "btn btn-custom btn-block" })
                </div>
            </div>
        </div>
    }
}

@section scripts{
    <script type="text/javascript">
        //$(function () {
        //    $('#Cart').DataTable({
        //        "paging": true,
        //        "ordering": true
        //    });
        //})

        $(function () {
            // Document.ready -> link up remove event handler
            $(".RemoveLink").click(function () {
                // Get the id from the link
                var recordToDelete = $(this).attr("data-id");
                if (recordToDelete != '') {
                    // Perform the ajax post
                    $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                        function (data) {
                            // Successful requests get here
                            // Update the page elements
                            if (data.ItemCount == 0) {
                                $('#row-' + data.DeleteId).fadeOut('slow');
                            } else {
                                $('#item-count-' + data.DeleteId).text(data.ItemCount);
                            }
                            $('#cart-total').text(data.CartTotal);
                            $('#update-message').text(data.Message);
                            $('#cart-status').text('Cart (' + data.CartCount + ')');
                            location.reload();
                        });
                }
            });
        });
    </script>
}