﻿@model Suppliro.Areas.Admin.Models.ProFormaInvoiceEmail

Content-Type: text/html; charset=utf-8

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Suppliro Admin </title>
    <!-- Bootstrap -->
    <link href="~/Areas/Admin/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Areas/Admin/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Areas/Admin/Content/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Custom styling plus plugins -->
    <link href="~/Areas/Admin/Content/custom.css" rel="stylesheet">
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <section class="content invoice">
                <!-- title row -->
                <div class="row">
                    <div class="col-xs-12 invoice-header">
                        <h1>
                            <img src="~/Content/img/SuppliroSmall.png" /> VAT Invoice
                            <small class="pull-right">Date: </small>
                        </h1>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- info row -->
                <div class="row invoice-info">
                    <div class="col-sm-4 invoice-col">
                        From
                        <address>
                            <strong>@Model.Invoice.CompanyInfo.TradingName</strong>
                            <br>@Model.Invoice.CompanyInfo.Address1
                            <br>@string.Format("{0}, {1}, {2}", Model.Invoice.CompanyInfo.Address2, Model.Invoice.CompanyInfo.City, Model.Invoice.CompanyInfo.PostalCode)
                            <br>Phone: @Model.Invoice.CompanyInfo.TelNumber
                            <br>Email: invoices@suppliro.com
                        </address>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 invoice-col">
                        To
                        <address>
                            <strong>@Model.Invoice.Invoice.Customer.TradingName</strong>
                            <br>@Model.Invoice.Invoice.Customer.PostalAddress1
                            <br>@string.Format("{0}, {1}, {2}", Model.Invoice.Invoice.Customer.PostalAddress2, Model.Invoice.Invoice.Customer.PostalTown, Model.Invoice.Invoice.Customer.PostalPostalCode)
                            <br>Phone: @Model.Invoice.Invoice.Customer.TelNumber
                            <br>Email: @Model.Invoice.Invoice.Customer.EmailAddress
                        </address>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 invoice-col">
                        <b>Invoice @Model.Invoice.Invoice.OrderNumber</b>
                        <br>
                        <b>Order ID:</b> @Model.Invoice.Invoice.Id
                        <br>
                        <b>Account:</b> @Model.Invoice.Invoice.Customer.CustomerCode
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <!-- Table row -->
                <div class="row">
                    <div class="col-xs-12 table">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Qty</th>
                                    <th style="width: 59%">Product Code</th>
                                    <th>Unit Price</th>
                                    <th>Amount</th>
                                    <th>VAT</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var prod in Model.Invoice.Invoice.OrderLines)
                                {
                                    <tr>
                                        <td>@prod.Quantity</td>
                                        <td>@prod.ProductCode</td>
                                        <td>@prod.UnitPrice</td>
                                        <td>@prod.Amount</td>
                                        <td>@prod.VATAmount</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <!-- accepted payments column -->
                    <div class="col-xs-6">
                        <p class="lead">Account Information:</p>
                        <p class="text-muted well well-sm no-shadow">
                            Account Name: @Model.Invoice.CompanyInfo.AccountName
                            <br>Account Number: @Model.Invoice.CompanyInfo.AccountNumber
                            <br>Bank Name: @Model.Invoice.CompanyInfo.BankName
                            <br>Branch Code: @Model.Invoice.CompanyInfo.BranchCode
                            <br>Branch Name: @Model.Invoice.CompanyInfo.BranchName
                        </p>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-6">
                        <p class="lead">Amount Due</p>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th style="width:50%">Subtotal:</th>
                                        <td>R @Model.Invoice.Invoice.SubTotal</td>
                                    </tr>
                                    <tr>
                                        <th>VAT (14%)</th>
                                        <td>R @Model.Invoice.Invoice.VATAmount</td>
                                    </tr>
                                    <tr>
                                        <th>Total:</th>
                                        <td>R @Model.Invoice.Invoice.Total</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
        </div>
    </div>
</body>
</html>

