﻿@model Suppliro.Models.Emails.SupplierOrderEmail

Content-Type: text/html; charset=utf-8

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Subject</title>
</head>
<body>
    <div class="row">
        <p>
            Good day
        </p>
    </div>
    <div class="row">
        @if (Model.Supplier.HasCredit)
        {
            <p>
                Please see below for today's order for Suppliro (@DateTime.Today.ToString("dd/MM/yy")) for <b>COLLECTION</b>. We have a credit account with you but please send an invoice to jonathan@suppliro.com as soon as possible for checking and approval. Our driver, Louis, will come to collect around 08h30.
            </p>
        }
        else
        {
            <p>
                Please see below for today's order for Suppliro (@DateTime.Today.ToString("dd/MM/yy")) for <b>COLLECTION</b>. Please email an invoice to jonathan@suppliro.com for payment and proof of payment. Our driver, Louis, will come to collect around 08h30.
            </p>
        }        
    </div>
    <div class="row">
        <p>
            Please let us know as soon as possible if any of these items are unavailable.
        </p>
    </div>
    <div class="row">
        <p>
            * This is a system generated email. Please forward any queries to Chumi (chumi@suppliro.com) or Jonathan (jonathan@suppliro.com)
        </p>
    </div>
    <br />
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th style="width:150px">Quantity</th>
                    <th style="width:50px"></th>
                    <th style="width:150px">Unit</th>
                    <th style="width:250px">Product Code</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in Model.EmailLines)
                {
                    <tr>
                        <td style="width:150px; text-align:center;">@line.Qty</td>
                        <td style="width:50px; text-align:center;">X</td>
                        <td style="width:150px; text-align:center;">@line.Unit</td>
                        <td style="width:250px; text-align:center;">@line.Code</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</body>
</html>
