﻿@model List<Suppliro.Entities.Product>

@{
    ViewBag.Title = "Stock Sheet";
    var uom = "";
    var actualUoM = "";
}

@section style
{
    <link href="~/Areas/Admin/Content/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
}

<header class="content-title">
    <div class="title-bg">
        <h2 class="title">Stock Sheet</h2>
    </div><!-- End .title-bg -->
</header>

@{
    if (Model == null || Model.Count == 0)
    {
        <div class="lg-margin"></div>
        <div class="row">
            <div class="container body-content padding">
                <h2>Search our database and add products to your Stock Sheet</h2>
            </div>
        </div>
    }
    else
    {
        <div class="lg-margin"></div>
        <div class="row">
            <div class="container body-content padding">
                <table class="table cart-table" id="Products">
                    <thead>
                        <tr>
                            <th class="table-title">Product Name</th>
                            <th class="table-title">Price</th>
                            <th class="table-title">Qty</th>
                            <th class="table-title">Order Unit</th>
                            <th class="table-title">Unit Price</th>
                            <th class="table-title">Actual Quantity</th>
                            <th class="table-title">Actual Price</th>
                            <th class="table-title"></th>
                            <th class="table-title">Supplier</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                {
                            <tr>
                                <td class="item-name">@Html.DisplayFor(modelItem => item.Code) </td>
                                <td id="@item.MarkedUpPrice" class="item-price-col pr">R @Html.DisplayFor(modelItem => item.MarkedUpPrice)</td>
                                <td>
                                    <div class="custom-quantity-input">
                                        <input type="text" name="quantity" value="0" class="text">
                                        <button class="quantity-btn quantity-input-up up"><i class="fa fa-angle-up"></i></button>
                                        <button class="quantity-btn quantity-input-down down"><i class="fa fa-angle-down"></i></button>
                                    </div>
                                </td>
                                <td id="@item.MinOrder" class="item-price mo">
                                    @if (item.UoMValue > 0)
                                    {
                                        uom = string.Format("{0} x {1} ({2})", item.MinOrder, item.UoMValue, item.Unit);
                                    }
                                    else
                                    {
                                        uom = string.Format("{0} ({1})", item.MinOrder, item.Unit);
                                    }
                                    @uom
                                </td>
                                <td class="item-price">@Html.DisplayFor(modelItem => item.UoMDefaultPriceValue)</td>
                                <td>
                                    <div class="product-actual-quantities">
                                        <div class="product-actual-quantities-input">
                                            <input type="text" required="" class="form-control input-sm qty" placeholder="0" disabled>
                                        </div>
                                        <div class="product-actual-quantities-value">
                                            @if (item.UoMValue > 0)
                                            {
                                                actualUoM = string.Format("{1} ({2})", item.MinOrder, item.UoMValue, item.Unit);
                                            }
                                            else
                                            {
                                                actualUoM = string.Format("({1})", item.MinOrder, item.Unit);
                                            }
                                            @actualUoM
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <input type="text" required="" class="form-control input-sm cpr" placeholder="R 0" disabled>
                                </td>
                                <td>
                                    <div class="product-adding-icons">
                                        <input title="Add to Cart" id="@item.Id" type="button" class="btn btn-custom btn-sm btn-add-cart atb" />
                                        <input title="Remove from Stock Sheet" id="@item.Id" type="button" class="btn btn-custom btn-remove-list btn-atl atl" />
                                    </div>
                                </td>
                                <td class="item-code">@Html.DisplayFor(modelItem => item.Supplier.TradingName)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}


@section scripts
{
    <script type="text/javascript">
        //$(function () {
        //    $('#Products').DataTable({
        //        "paging": true,
        //        "ordering": true
        //    });
        //})

        $(function () {
            $(".text").keypress(function (e) {
                if (e.which < 48 || e.which > 57) {
                    return false;
                }
            });

            $('.text').keyup(function (e) {
                debugger;
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                    // Allow: Ctrl+A, Command+A
                    (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: home, end, left, right, down, up
                    (e.keyCode >= 35 && e.keyCode <= 40)) {
                    // let it happen, don't do anything
                    return false;
                }

                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }

                var tr = $(this).closest("tr");
                var qty = tr.find(".text").val();

                var minOrderQty = tr.find(".mo").attr('id');
                var price = tr.find(".pr").attr('id');

                var newMoq = tr.find(".qty");
                var newPrc = tr.find(".cpr");

                //Actual quantity
                var q = qty * minOrderQty;
                newMoq.val(q);

                //Calculated price
                var p = qty * price;
                newPrc.val("R " + p.toFixed(2));
            });

            $('.up').click(function () {
                var tr = $(this).closest("tr");
                var qty = tr.find(".text").val();
                var box = tr.find(".text");
                qty++;
                box.val(qty);

                var minOrderQty = tr.find(".mo").attr('id');
                var price = tr.find(".pr").attr('id');

                var newMoq = tr.find(".qty");
                var newPrc = tr.find(".cpr");

                //Actual quantity
                var q = qty * minOrderQty;
                newMoq.val(q);

                //Calculated price
                var p = qty * price;
                newPrc.val("R " + p.toFixed(2));
            });

            $('.down').click(function () {
                var tr = $(this).closest("tr");
                var qty = tr.find(".text").val();
                var box = tr.find(".text");
                if (qty > 0)
                { qty--; }
                box.val(qty);

                var minOrderQty = tr.find(".mo").attr('id');
                var price = tr.find(".pr").attr('id');

                var newMoq = tr.find(".qty");
                var newPrc = tr.find(".cpr");

                //Actual quantity
                var q = qty * minOrderQty;
                newMoq.val(q);

                //Calculated price
                var p = qty * price;
                newPrc.val("R " + p.toFixed(2));
            });

            $(".btn-sm").click(function () {
                var tr = $(this).closest("tr");
                var qty = tr.find(".text").val();
                var btn = tr.find(".atb").attr('id');
                var prodName = tr.find(".item-name").html();

                if (qty > 0) {
                    // Perform the ajax post
                    $.post("/ShoppingCart/AddToCart", { "id": btn, 'count': qty },
                        function (data) {
                            // Successful requests get here
                            $("#cartSum").html(data);
                            new PNotify({
                                title: 'Product Added',
                                text: qty + ' x ' + prodName + ' Added',
                                type: 'success',
                                addclass: 'notification-success',
                                icon: 'fa fa-check'
                            });
                        });
                }
            });

            $(".btn-atl").click(function () {
                var tr = $(this).closest("tr");
                var btn = tr.find(".atl").attr('id');
                var prodName = tr.find(".item-name").html();

                // Perform the ajax post
                $.post("/Product/RemoveFromStockSheet", { "id": btn },
                    function (data) {
                        if (data) {
                            tr.fadeOut('slow');
                            new PNotify({
                                title: 'Removed from Stock Sheet',
                                text: prodName + ' Removed',
                                type: 'success',
                                addclass: 'notification-success',
                                icon: 'fa fa-check'
                            });
                        }
                    });
            });
        });
    </script>

    <script src="~/Areas/Admin/Content/vendors/pnotify/dist/pnotify.js"></script>
}
