﻿@{
    ViewBag.Title = "About";
}

<header class="content-title">
    <div class="title-bg">
        <h2 class="title">About Us</h2>
    </div><!-- End .title-bg -->
</header>
<br/>
<h2>
    <small>
        Suppliro allows your supply chain function to search for, compare and purchase products from
        several of the best foodservice and hospitality wholesalers in the Western Cape through just
        one supplier sign up. Our database contains everything your commercial kitchen needs – from
        meat and seafood to dry goods, packaging and cleaning materials. We collect the goods
        you purchase and deliver them to you reliably on the same day, so you no longer have to wait
        for several different trucks which often arrive late.
    </small>
</h2>

<div class="lg-margin3x"></div>