﻿@model Suppliro.Entities.Contact

@{
    ViewBag.Title = "Contact";
}
<header class="content-title">
    <div class="title-bg">
        <h2 class="title">Contact Us</h2>
    </div><!-- End .title-bg -->
</header>
<br/>
<div class="col-md-8 col-sm-8 col-xs-12">
    <h2 class="sub-title">LEAVE COMMENT</h2>
    <div class="row">
        @using (Html.BeginForm("SendMessage", "Home", FormMethod.Post, new { @class = "contact-list", id = "contacts_form", role = "form" }))
        {
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Full Name&#42;</span></span>
                        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control input-lg", @placeholder = "Full Name" })
                    </div><!-- End .input-group -->
                    <div class="input-group">
                        <span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">Email&#42;</span></span>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg", @placeholder = "Email", @type="email" })
                    </div><!-- End .input-group -->
                </div><!-- End .col-md-6 -->
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="input-group textarea-container">
                        <span class="input-group-addon"><span class="input-icon input-icon-message"></span><span class="input-text">Your Message</span></span>
                        @Html.TextAreaFor(m => m.Message, new { @class = "form-control input-lg", @placeholder = "Message", @type = "Your Message", @cols="30", @rows="6" })
                    </div><!-- End .input-group -->
                    <input type="submit" value="SUBMIT" class="btn btn-custom-2 md-margin">
                </div><!-- End .col-md-6 -->
            </div>
        }
    </div><!-- End .row -->

</div><!-- End .col-md-8 -->

<div class="col-md-4 col-sm-4 col-xs-12">
    <h2 class="sub-title">CONTACT DETAILS</h2>
    <ul class="contact-details-list">
        <li>
            <span class="contact-icon contact-icon-mobile"></span>
            <ul>
                <li>+(27) 72-460-3354</li>
            </ul>
        </li>
        <li>
            <span class="contact-icon contact-icon-email"></span>
            <ul>
                <li>chumi@suppliro.com</li>
            </ul>
        </li>
    </ul>
</div><!-- End .col-md-4 --> 