﻿@model Suppliro.ViewModels.CategoryListViewModel

@{
    ViewBag.Title = "Home";
}

@section style
{

}

<div class="row">
    @using (Html.BeginForm("Products", "Product", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="min-height-section">
            <div class="col-md-12 col-sm-12 col-xs-12 md-margin">
                <div style="height: 100px;"></div>
                <div class="input-group">
                    <input id="query" name="query" type="text" class="form-control" placeholder="Search Product Name">
                    <span class="input-group-btn">
                        <button class="btn btn-custom" type="submit">Search</button>
                    </span>
                </div>
            </div>
        </div>
    }
</div>
@{
    if (Model != null)
    {
        <div class="row">
            <header class="content-title">
                <div class="title-bg">
                    <h2 class="title">Browse by Category</h2>
                </div><!-- End .title-bg -->
            </header>

            <div class="lg-margin"></div><!-- space -->

            @foreach (var list in Model.CategoryList)
            {
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="list-group">
                        @foreach (var cat in list)
                        {
                            @Html.ActionLink(cat.Name, "Index", "Category", new { id = cat.Id }, new {  @class = "list-group-item" })
                        }
                    </div><!-- End .list-group -->
                </div><!-- End .col-md-4 -->
            }
        </div>
    }
}

@section scripts
{
}
