﻿@model Suppliro.ViewModels.SignUpViewModel

@{
    Layout = "~/Views/Shared/EmptyLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 md-margin">
            <header class="content-title">
                <div class="title-bg">
                    <h2 class="title">What we do</h2>
                </div><!-- End .title-bg -->
                <div class="lg-margin"></div>
                <h2>
                    <small>
                        Suppliro allows your supply chain function to search for, compare and purchase products from
                        several of the best foodservice and hospitality wholesalers in the Western Cape through just
                        one supplier sign up. Our database contains everything your commercial kitchen needs – from
                        meat and seafood to dry goods, packaging and cleaning materials. We collect the goods
                        you purchase and deliver them to you reliably on the same day, so you no longer have to wait
                        for several different trucks which often arrive late.
                        Get in touch with us by filling out the form below and switch to a smoother, less time consuming
                        supply chain.
                    </small>
                </h2>
            </header>
        </div>
    </div>
    <div class="md-margin"></div>
    @if (ViewBag.Success == true)
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-success">
                    <strong>You have been signed up!</strong>&nbsp; We will get in touch with you shortly.
                </div><!-- End .alert-success -->
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            <header class="content-title">
                <div class="title-bg">
                    <h2 class="title">Sign Up</h2>
                </div><!-- End .title-bg -->
                <div class="lg-margin"></div>
            </header>
            @using (Html.BeginForm("SignUp", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="input-group">
                    <span class="input-group-addon"><span class="input-text">Business Name</span></span>
                    @Html.TextBoxFor(m => m.BusinessName, new { @class = "form-control input-lg", @placeholder = "Business Name" })
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Contact Person</span></span>
                    @Html.TextBoxFor(m => m.ContactPerson, new { @class = "form-control input-lg", @placeholder = "Contact Person" })
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">Email</span></span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg", @placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><span class="input-icon input-icon-phone"></span><span class="input-text">Phone Number</span></span>
                    @Html.TextBoxFor(m => m.Number, new { @class = "form-control input-lg", @placeholder = "Phone Number" })
                    @Html.ValidationMessageFor(m => m.Number, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3">
                        <div class="col-md-8">
                            <input type="submit" value="Sign Up" class="btn btn-success btn-block" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div><!-- End .container -->
