﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Suppliro Admin </title>
    <!-- Bootstrap -->
    <link href="~/Areas/Admin/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Areas/Admin/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Areas/Admin/Content/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    @RenderSection("style", required: false)
    <!-- Custom styling plus plugins -->
    <link href="~/Areas/Admin/Content/custom.css" rel="stylesheet">
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <!-- side -->
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        @Html.ActionLink("Suppliro Admin", "Index", "Home", new { Area = "Admin" }, new { @class = "site_title" })
                    </div>

                    <div class="clearfix"></div>

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>
                                    <a>Supplier Orders <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            @Html.ActionLink("Today", "Index", "SupplierOrder")
                                        </li>
                                        <li>
                                            @Html.ActionLink("History", "History", "SupplierOrder")
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a>Invoicing <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            @Html.ActionLink("Pro Forma Invoice", "Index", "Invoice")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Pro Forma  History", "History", "Invoice")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Invoice", "ProFormas", "Invoice")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Invoice History", "ProFormaHistory", "Invoice")
                                        </li>
                                    </ul>
                                </li>
                                <li>@Html.ActionLink("Pick Up Form", "Index", "Pickup")</li>
                                <li>@Html.ActionLink("Suppliers", "Index", "Supplier")</li>
                                <li>@Html.ActionLink("Products", "Index", "Product")</li>
                                <li>@Html.ActionLink("Unit of Measure", "Index", "UoM")</li>
                                <li>@Html.ActionLink("Company Information", "Index", "Company")</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                @Html.ActionLink("Main Site", "Index", "Home", new { area = "" }, new { @class = "btn btn-link" })
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    @RenderBody()
                </div>
            </div>

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    <a href="https://colorlib.com">Suppliro (Pty) Ltd </a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/Areas/Admin/Content/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/js/modalform.js"></script>
    <!-- Bootstrap -->
    <script src="~/Areas/Admin/Content/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Areas/Admin/Content/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Areas/Admin/Content/vendors/nprogress/nprogress.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/Areas/Admin/Content/js/custom.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
