﻿@model Suppliro.Entities.PickUpForm

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>@Model.DateCreated</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-striped" id="Suppliers">
                <thead>
                    <tr>
                        <th>
                            Supplier Trading Name
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Unit
                        </th>
                        <th>
                            Product Code
                        </th>
                        <th>
                            Customer Code
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.PickUpFormLines)
                    {
                        <tr>
                            <td>
                                @item.SupplierTradingName
                            </td>
                            <td>
                                @item.Qty
                            </td>
                            <td>
                                @item.ProductUnit
                            </td>
                            <td>
                                @item.ProductCode
                            </td>
                            <td>
                                @item.CustomerCode
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
