﻿@model Suppliro.Areas.Admin.ViewModels.PickUpFormViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<div class="page-title">
    <div class="title_left">
        <h3>
            Pick Up Forms
        </h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Current Pick Up Form</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @{
                    if (Model.CurrentPickUpForm == null)
                    {
                        <div class="bs-example" data-example-id="simple-jumbotron">
                            <div class="jumbotron">
                                <h1>No Pick Up Form</h1>
                            </div>
                        </div>
                    }
                    else
                    {
                        <table class="table table-striped" id="Suppliers">
                            <thead>
                                <tr>
                                    <th>
                                        Date Created
                                    </th>
                                    <th>
                                        Is Complete
                                    </th>
                                    <th style="width: 50px;">View</th>
                                    <th style="width: 50px;">Download</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var item = Model.CurrentPickUpForm;

                                    <tr>
                                        <td>
                                            @item.DateCreated
                                        </td>
                                        <td>
                                            @item.IsComplete
                                        </td>
                                        <td style="min-width: 25px">
                                            @Html.ActionLink("View", null, null, new { @id = item.Id, @class = "btn btn-primary viewclick" })
                                        </td>
                                        <td style="min-width: 25px">
                                            @Html.ActionLink("Download", "DownloadActionAsPDF", "Pickup", new { id = item.Id }, new { @id = item.Id, @class = "btn btn-primary" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Old Pick Up Forms</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @{
                    if (Model.PickUpFormHistory == null || Model.PickUpFormHistory.Count == 0)
                    {
                        <div class="bs-example" data-example-id="simple-jumbotron">
                            <div class="jumbotron">
                                <h1>No Pick Up Form History</h1>
                            </div>
                        </div>
                    }
                    else
                    {
                        <table class="table table-striped" id="Suppliers">
                            <thead>
                                <tr>
                                    <th>
                                        Date Created
                                    </th>
                                    <th>
                                        Is Complete
                                    </th>
                                    <th>
                                        Date Completed
                                    </th>
                                    <th style="width: 50px;">View</th>
                                    <th style="width: 50px;">Download</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.PickUpFormHistory)
                                {
                                    <tr>
                                        <td>
                                            @item.DateCreated
                                        </td>
                                        <td>
                                            @item.IsComplete
                                        </td>
                                        <td>
                                            @item.DateCompleted
                                        </td>
                                        <td style="min-width: 25px">
                                            @Html.ActionLink("View", null, null, new { @id = item.Id, @class = "btn btn-primary viewclick" })
                                        </td>
                                        <td style="min-width: 25px">
                                            @Html.ActionLink("Download", "DownloadActionAsPDF", "Pickup", new { id = item.Id }, new { @id = item.Id, @class = "btn btn-primary" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                }
            </div>
        </div>
    </div>
</div>

<div class="row pickupform">

</div>

@section scripts{
    <script type="text/javascript">
        $('.viewclick').click(function (e) {
            e.preventDefault()

            var id = $(this).attr("id");

            $(".pickupform").empty().append("<div class='loader'><img src='/Content/img/Loader/ajax-loader.gif' alt='Loading' /></div>");

            $.ajax({
                url: "@Url.Action("GetPickUpForm", "Pickup")",
                data: { id: id },
                cache: false,
                type: "get",
                dataType: "html",
                success: function (result) {
                    $(".pickupform").empty().append(result);
                }
            });
        });
    </script>
}