﻿@model Suppliro.Entities.PickUpForm

@{
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdminEmpty.cshtml";
}

@{
    if (Model == null)
    {
        return;
    }
    else
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table class="table table-striped" id="Suppliers">
                            <thead>
                                <tr>
                                    <th>
                                        Supplier Trading Name
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                        Unit
                                    </th>
                                    <th>
                                        Product Code
                                    </th>
                                    <th>
                                        Customer Code
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.PickUpFormLines)
                                {
                                    <tr>
                                        <td>
                                            @item.SupplierTradingName
                                        </td>
                                        <td>
                                            @item.Qty
                                        </td>
                                        <td>
                                            @item.ProductUnit
                                        </td>
                                        <td>
                                            @item.ProductCode
                                        </td>
                                        <td>
                                            @item.CustomerCode
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <br />
                    <div class="breakhere"></div>
                </div>
            </div>
        </div>
    }
}


