﻿@model Suppliro.Areas.Admin.ViewModels.ProductViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Add new Product</h4>
</div>

@using (Html.BeginForm("Create", "Product", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-body">

        <div class="form-horizontal">
            @Html.HiddenFor(x => x.Id)

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(x => x.Code)
                @Html.TextBoxFor(x => x.Code, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.DisplayName)
                @Html.TextBoxFor(x => x.DisplayName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Description)
                @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.SupplierId)
                @Html.DropDownListFor(m => m.SupplierId, Model.Suppliers, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.CategoryId)
                @Html.DropDownListFor(m => m.CategoryId, Model.Categories, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.InStock)
                @Html.CheckBoxFor(x => x.InStock, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.OriginalPrice)
                @Html.TextBoxFor(x => x.OriginalPrice, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.MarkedUpPrice)
                @Html.TextBoxFor(x => x.MarkedUpPrice, new { @class = "form-control", disabled = "disabled" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.MinOrder)
                <div style="display:inline">
                    @Html.TextBoxFor(x => x.MinOrder, new { @class = "form-control" }) X @Html.TextBoxFor(x => x.UoMDefaultValue, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.UoMId)
                @Html.DropDownListFor(m => m.UoMId, Model.UoMs, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.UoMDefaultId)
                @{
                    var uomDefCode = Model.UoMDefaultCode ?? "No Default UoM";
                }
                <div class="form-control" disabled>
                    <p>@uomDefCode</p>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.UoMDefaultPriceValue)
                @{
                    var valuePrice = Model.UoMDefaultPriceValue ?? "No Calculated Price";
                }
                <div class="form-control" disabled>
                    <p>@valuePrice</p>
                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancel</button>
        <input class="btn btn-primary" type="submit" value="Save" />
    </div>
}