﻿@model Suppliro.Areas.Admin.ViewModels.ProductListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

@section style
{
    <link href="~/Areas/Admin/Content/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/Areas/Admin/Content/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/Areas/Admin/Content/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/Areas/Admin/Content/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/Areas/Admin/Content/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
}

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="x_panel">
            <div class="x_title">
                <h1>Update Prices</h1>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm("UpdateProducts", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <h2>The file must have the following fields in this order => Product Code, Price</h2>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Select Supplier</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            @Html.DropDownListFor(m => m.SupplierId, Model.Suppliers, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="file" name="UploadedFile" />
                    </div>
                    <div class="form-group">
                        <input type="submit" name="Submit" value="Submit" />
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="x_panel">
            <div class="x_title">
                <h1>Upload Products</h1>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm("UploadProducts", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <h2>The file must have the following fields in this order => Category, Product Code, Price, Unit, Min Order, Supplier</h2>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Select Supplier</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            @Html.DropDownListFor(m => m.SupplierId, Model.Suppliers, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="file" name="UploadedFile" />
                    </div>
                    <div class="form-group">
                        <input type="submit" name="Submit" value="Submit" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h1>Product Index Search</h1>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    @Html.ActionLink("Clear Search Index", "ClearSearchIndex", "Product", new { @class = "btn btn-danger" })
                    @Html.ActionLink("Optimize Search Index", "OptimizeSearchIndex", "Product", new { @class = "btn btn-info" })
                    @Html.ActionLink("Add Products Search Index", "AddProductsSearchIndex", "Product", new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h1>Products</h1>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @Html.ActionLink("Add", "Create", "Product", null, new { data_modal = "", id = "btnCreate", @class = "btn btn-dark pull-right" })
                @{
                    if (Model.Products.Count == 0)
                    {
                        <div class="bs-example" data-example-id="simple-jumbotron">
                            <div class="jumbotron">
                                <h1>No Products Found</h1>
                            </div>
                        </div>
                    }
                    else
                    {
                        <table id="datatable-buttons" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Product Code</th>
                                    <th>Product Name</th>
                                    <th>Supplier</th>
                                    <th>Category</th>
                                    <th>Original Price</th>
                                    <th>Mark Up Percentage</th>
                                    <th>Marked Up Price</th>
                                    <th>In Stock</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var prod in Model.Products)
                                {
                                    <tr>
                                        <td scope="row">@prod.Code</td>
                                        <td>@prod.DisplayName</td>
                                        <td>@prod.Supplier.RegisteredName</td>
                                        <td>@prod.Category.Name</td>
                                        <td>@prod.OriginalPrice</td>
                                        <td>@prod.MarkUpPercentage</td>
                                        <td>@prod.MarkedUpPrice</td>
                                        <td>@prod.InStock</td>
                                        <td>@Html.ActionLink("Edit", "Edit", new { id = @prod.Id }, new { data_modal = "" })</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <!-- Datatables -->
    <script src="~/Areas/Admin/Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Admin/Content/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Areas/Admin/Content/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Areas/Admin/Content/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Areas/Admin/Content/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Areas/Admin/Content/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Areas/Admin/Content/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Areas/Admin/Content/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Areas/Admin/Content/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Areas/Admin/Content/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Areas/Admin/Content/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Areas/Admin/Content/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
    <script src="~/Areas/Admin/Content/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/Areas/Admin/Content/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Areas/Admin/Content/vendors/pdfmake/build/vfs_fonts.js"></script>

    <script>
        $(document).ready(function () {
            var handleDataTableButtons = function () {
                if ($("#datatable-buttons").length) {
                    $("#datatable-buttons").DataTable({
                        dom: "Bfrtip",
                        buttons: [
                          {
                              extend: "copy",
                              className: "btn-sm"
                          },
                          {
                              extend: "csv",
                              className: "btn-sm"
                          },
                          {
                              extend: "excel",
                              className: "btn-sm"
                          },
                          {
                              extend: "pdfHtml5",
                              className: "btn-sm"
                          },
                          {
                              extend: "print",
                              className: "btn-sm"
                          },
                        ],
                        responsive: true
                    });
                }
            };

            TableManageButtons = function () {
                "use strict";
                return {
                    init: function () {
                        handleDataTableButtons();
                    }
                };
            }();

            $('#datatable').dataTable();
            $('#datatable-keytable').DataTable({
                keys: true
            });

            $('#datatable-responsive').DataTable();

            $('#datatable-scroller').DataTable({
                ajax: "js/datatables/json/scroller-demo.json",
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true
            });

            var table = $('#datatable-fixed-header').DataTable({
                fixedHeader: true
            });

            TableManageButtons.init();
        });
    </script>
}
