﻿@model Suppliro.Entities.Customer

@using (Ajax.BeginForm("SaveAddress", "Customer", new AjaxOptions
    { HttpMethod = "Post", UpdateTargetId = "replaceDiv", OnSuccess = "Success" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-12 col-sm-12">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h2 class="sub-title">PHYSICAL ADDRESS</h2>
        <div class="input-group">
            <span class="input-group-addon"><span class="input-text">Physical Address</span></span>
            @Html.TextBoxFor(m => m.PhysicalAddress1, new { @class = "form-control input-lg", @placeholder = "Physical Address" })
        </div><!-- End .input-group -->
        <div class="input-group">
            <span class="input-group-addon"><span class="input-text"></span></span>
            @Html.TextBoxFor(m => m.PhysicalAddress2, new { @class = "form-control input-lg", @placeholder = "Physical Address" })
        </div><!-- End .input-group -->
        <div class="input-group">
            <span class="input-group-addon"><span class="input-text">Postal Code</span></span>
            @Html.TextBoxFor(m => m.PhysicalPostalCode, new { @class = "form-control input-lg", @placeholder = "Postal Code" })
        </div><!-- End .input-group -->
        <div class="input-group">
            <span class="input-group-addon"><span class="input-text">Region</span></span>
            @Html.TextBoxFor(m => m.PhysicalRegion, new { @class = "form-control input-lg", @placeholder = "Region" })
        </div><!-- End .input-group -->
        <div class="input-group">
            <span class="input-group-addon"><span class="input-text">Town</span></span>
            @Html.TextBoxFor(m => m.PhysicalTown, new { @class = "form-control input-lg", @placeholder = "Town" })
        </div><!-- End .input-group -->
        <div class="xs-margin"></div>
        <h2 class="sub-title">POSTAL ADDRESS</h2>
        <div class="input-group">
            <span class="input-group-addon"><span class="input-text">Physical Address</span></span>
            @Html.TextBoxFor(m => m.PostalAddress1, new { @class = "form-control input-lg", @placeholder = "Physical Address" })
        </div><!-- End .input-group -->
        <div class="input-group">
            <span class="input-group-addon"><span class="input-text"></span></span>
            @Html.TextBoxFor(m => m.PostalAddress2, new { @class = "form-control input-lg", @placeholder = "Physical Address" })
        </div><!-- End .input-group -->
        <div class="input-group">
            <span class="input-group-addon"><span class="input-text">Postal Code</span></span>
            @Html.TextBoxFor(m => m.PostalPostalCode, new { @class = "form-control input-lg", @placeholder = "Postal Code" })
        </div><!-- End .input-group -->
        <div class="input-group">
            <span class="input-group-addon"><span class="input-text">Region</span></span>
            @Html.TextBoxFor(m => m.PostalRegion, new { @class = "form-control input-lg", @placeholder = "Region" })
        </div><!-- End .input-group -->
        <div class="input-group">
            <span class="input-group-addon"><span class="input-text">Town</span></span>
            @Html.TextBoxFor(m => m.PostalTown, new { @class = "form-control input-lg", @placeholder = "Town" })
        </div><!-- End .input-group -->
        <input type="submit" value="Save" class="btn btn-custom-2 md-margin pull-right">
    </div>
}