﻿@model Suppliro.Entities.Customer

@using (Ajax.BeginForm("SaveInformation", "Customer",  new AjaxOptions
{ HttpMethod = "Post", UpdateTargetId = "replaceDiv", OnSuccess = "Success" }))
{
    <div class="col-md-12 col-sm-12">
        <h2 class="sub-title">BUSINESS INFORMATION</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="input-group">
            <span class="input-group-addon"><span class="input-text">Registered Name</span></span>
            @Html.TextBoxFor(m => m.RegisteredName, new { @class = "form-control input-lg", @placeholder = "Registered Name" })
        </div><!-- End .input-group -->
        <div class="input-group">
            <span class="input-group-addon"><span class="input-text">Trading Name</span></span>
            @Html.TextBoxFor(m => m.TradingName, new { @class = "form-control input-lg", @placeholder = "Trading Name" })
        </div><!-- End .input-group -->
        <div class="input-group">
            <span class="input-group-addon"><span class="input-text">VAT Number</span></span>
            @Html.TextBoxFor(m => m.VATNumber, new { @class = "form-control input-lg", @placeholder = "VAT Number" })
        </div><!-- End .input-group -->
        <div class="input-group">
            <span class="input-group-addon"><span class="input-text">Tel Number</span></span>
            @Html.TextBoxFor(m => m.TelNumber, new { @class = "form-control input-lg", @placeholder = "Tel Number", @required = true })
        </div><!-- End .input-group -->
        <div class="input-group">
            <span class="input-group-addon"><span class="input-text">Cell Number</span></span>
            @Html.TextBoxFor(m => m.CellNumber, new { @class = "form-control input-lg", @placeholder = "Cell Number" })
        </div><!-- End .input-group -->
        <div class="input-group">
            <span class="input-group-addon"><span class="input-text">Buyers Name</span></span>
            @Html.TextBoxFor(m => m.BuyersName, new { @class = "form-control input-lg", @placeholder = "Buyers Name" })
        </div><!-- End .input-group -->
        <div class="input-group">
            <span class="input-group-addon"><span class="input-text">Buyers ID Number</span></span>
            @Html.TextBoxFor(m => m.BuyersIDNumber, new { @class = "form-control input-lg", @placeholder = "Buyers ID Number" })
        </div><!-- End .input-group -->
        <div class="input-group">
            <span class="input-group-addon"><span class="input-text">Email Address</span></span>
            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control input-lg", @placeholder = "Email Address" })
        </div><!-- End .input-group -->
        <div class="input-group">
            <span class="input-group-addon"><span class="input-text">Fax Number</span></span>
            @Html.TextBoxFor(m => m.FaxNumber, new { @class = "form-control input-lg", @placeholder = "Fax Number" })
        </div><!-- End .input-group -->
        <input type="submit" value="Save" class="btn btn-custom-2 md-margin pull-right saveInfo">
    </div>
}
