﻿@model Suppliro.Entities.Invoice

<div class="table-responsive">
    <table class="table checkout-table">
        <thead>
            <tr>
                <th class="table-title">Product Name</th>
                <th class="table-title">Unit Price</th>
                <th class="table-title">Quantity</th>
                <th class="table-title">SubTotal</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.InvoiceLines.Where(x => x.IsReplaced == false)
                .GroupBy(x => x.ProductCode).Select(g => new
                {
                    ProductCode = g.Key,
                    ProductUnitPrice = g.First().ProductUnitPrice,
                    Quantity = g.Sum(p => p.Quantity),
                    SubTotal = g.Sum(p => p.SubTotal)
                }).OrderBy(x => x.ProductCode))
            {
                <tr>
                    <td class="item-name-col">
                        <header class="item-name">@item.ProductCode</header>
                    </td>
                    <td class="item-price-col"><span class="item-price-special">R @item.ProductUnitPrice</span></td>
                    <td>
                        <header class="item-name" style="text-align: center;">@item.Quantity</header>
                    </td>
                    <td class="item-total-col">
                        <span class="item-price-special">R @item.SubTotal</span>
                    </td>
                </tr>
            }
            <tr>
                <td class="checkout-table-title" colspan="3">Subtotal:</td>
                <td class="checkout-table-price">R @Model.SubTotalAmount</td>
            </tr>
            <tr>

                <td class="checkout-table-title" colspan="3">Tax(14%):</td>
                <td class="checkout-table-price">R @Model.VATAmount</td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <td class="checkout-total-title" colspan="3"><strong>TOTAL:</strong></td>
                <td class="checkout-total-price cart-total"><strong>R @Model.TotalAmount</strong></td>
            </tr>
        </tfoot>
    </table>

</div><!-- End .table-reponsive -->