﻿@using PagedList;
@using PagedList.Mvc;

@model PagedList.IPagedList<Suppliro.Entities.Invoice>

@section style
{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}

<!-- Modal -->

<div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Invoice</h4>
            </div>
            <div class="invoice-modal-body">
            </div>
            <div class="modal-footer">
                <button id="printBtn" type="button" class="btn btn-default" data-dismiss="modal">Download</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="non-printable">
    <h2 class="sub-title">Invoices</h2>
    @if (Model.Count > 0)
    {
        <table id="Orders" class="table table-hover">
            <thead>
                <tr>
                    <th>Invoice Number</th>
                    <th>Date Started</th>
                    <th>Date Completed</th>
                    <th>Total</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var inv in Model)
                {
                    <tr id="@inv.Id">
                        <td>@inv.InvoiceNumber</td>
                        <td>@String.Format("{0:d}", inv.DateCreated)</td>
                        <td>@String.Format("{0:d}", inv.DateCompleted)</td>
                        <td>@inv.TotalAmount</td>
                        <td><button id="invoiceViewModal" type="button" class="btn btn-default">View</button></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="pull-right">
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Invoices", "Customer", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "replaceDiv" }))
        </div>
    }
    else
    {
        <div>
            <label>No Invoices</label>
        </div>
    }
</div>