﻿@using PagedList;
@using PagedList.Mvc;
@using Suppliro.Entities;

@model PagedList.IPagedList<Suppliro.Entities.Order>

@section style
{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}

<!-- Modal -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Invoice</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="printBtn" type="button" class="btn btn-default" data-dismiss="modal">Download</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="non-printable">
    <h2 class="sub-title">Pro Forma Invoices</h2>

    @*@using (Html.BeginForm("Invoices", "Customer", FormMethod.Get))
        {
            <div class="pull-right inline">
                <p>
                    <h3>
                        <small>
                            Find by Invoice Number:
                            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                        </small>
                    </h3>
                    <input type="submit" value="Search" />
                </p>
            </div>
        }*@.
    @if (Model.Count > 0)
    {
        <table id="Orders" class="table table-hover">
            <thead>
                <tr>
                    <th>Invoice Number</th>
                    <th>Date Placed</th>
                    <th>% Complete</th>
                    <th>Total</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ord in Model)
                {
                    <tr id="@ord.Id">
                        <td>@ord.OrderNumber</td>
                        <td>@String.Format("{0:d}", ord.DatePlaced)</td>
                        <td>@ord.PercentageComplete</td>
                        <td>@ord.Total</td>
                        <td><button id="viewModal" type="button" class="btn btn-default">View</button></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="pull-right">
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Orders", "Customer", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "replaceDiv" }))
        </div>
    }
    else
    {
        <div>
            <label>No Pro Forma Invoices</label>
        </div>
    }
</div>