﻿@model Suppliro.ViewModels.CustomerOrderViewModel

<div id="invoiceSec">
    <div class="row">
        <div class="table-responsive">
            <table class="table checkout-table">
                <thead>
                    <tr style="height:25px !important;">
                        <th class="table-title">Product Name</th>
                        <th class="table-title">Unit Price</th>
                        <th class="table-title">Quantity</th>
                        <th class="table-title">SubTotal</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.OrderLines)
                    {
                        <tr style="height:25px;">
                            <td class="item-name-col">
                                <header class="item-name">@item.ProductCode</header>
                            </td>
                            <td class="item-price-col"><span class="item-price-special">@item.UnitPrice</span></td>
                            <td style="text-align:center;">
                                <header class="item-name">@item.Quantity</header>
                            </td>
                            <td class="item-total-col">
                                <span class="item-price-special">@item.Amount</span>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td class="checkout-table-title" colspan="3">Subtotal:</td>
                        <td class="checkout-table-price">R @Model.OrderLines.FirstOrDefault().Order.SubTotal</td>
                    </tr>
                    <tr>

                        <td class="checkout-table-title" colspan="3">Tax(14%):</td>
                        <td class="checkout-table-price">R @Model.OrderLines.FirstOrDefault().Order.VATAmount</td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <td class="checkout-total-title" colspan="3"><strong>TOTAL:</strong></td>
                        <td class="checkout-total-price cart-total"><strong>R @Model.OrderLines.FirstOrDefault().Order.Total</strong></td>
                    </tr>
                </tfoot>
            </table>

        </div><!-- End .table-reponsive -->
    </div>
</div>
