﻿@model Suppliro.Models.PasswordModel

@using (Ajax.BeginForm("UpdatePassword", "Customer",
    new AjaxOptions{
        HttpMethod = "Post",
        UpdateTargetId = "replaceDiv",
        OnSuccess = "Success"
    }))
{
    <div class="col-md-12 col-sm-12">
        <h2 class="sub-title">UPDATE PASSWROD</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="input-group">
            <span class="input-group-addon"><span class="input-text">New Password</span></span>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", @placeholder = "Password" })
        </div><!-- End .input-group -->
        <input type="submit" value="Save" class="btn btn-custom-2 md-margin pull-right saveInfo">
    </div>
}

