﻿@model Suppliro.Areas.Admin.ViewModels.ProformaListViewModel

@{
    ViewBag.Title = "Customers";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Customers with open Pro Forma Invoices</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @{
                    if (Model.Customers.Count == 0)
                    {
                        <div class="bs-example" data-example-id="simple-jumbotron">
                            <div class="jumbotron">
                                <h1>No Customers Found</h1>
                            </div>
                        </div>
                    }
                    else
                    {
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Trading Name</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var cus in Model.Customers)
                                {
                                    <tr>
                                        <td>@cus.TradingName</td>
                                        <td>@Html.ActionLink("Edit", "ProForma", new { id = @cus.Id })</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                }
            </div>
        </div>
    </div>
</div>
