﻿@model Suppliro.Areas.Admin.ViewModels.CustomerInvoicesViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdminEmpty.cshtml";
}

@{
    if (Model == null || Model.Invoices.Count == 0)
    {
    }
    else
    {
        var datetime = DateTime.Now.ToString("dd/MM/yyyy");

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    @foreach (var item in Model.Invoices)
                    {
                        if (item.DateCompleted.HasValue)
                        {
                            datetime = item.DateCompleted.Value.ToString("dd/MM/yyyy");
                        }

                        <div class="break-before"></div>
                        <section class="content invoice">
                            <!-- title row -->
                            <div class="row">
                                <div class="col-xs-12 invoice-header">
                                    <h1>
                                        <img src="~/Content/img/SuppliroSmall.png" /> VAT Invoice
                                        <small class="pull-right">Date: @datetime</small>
                                    </h1>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- info row -->
                            <div class="row invoice-info">
                                <div class="col-sm-4 invoice-col">
                                    From
                                    <address>
                                        <strong>@Model.CompanyInfo.TradingName</strong>
                                        <br>@Model.CompanyInfo.Address1
                                        <br>@string.Format("{0}, {1}, {2}", Model.CompanyInfo.Address2, Model.CompanyInfo.City, Model.CompanyInfo.PostalCode)
                                        <br>Phone: @Model.CompanyInfo.TelNumber
                                        <br>Email: chumi@suppliro.com
                                    </address>
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-4 invoice-col">
                                    To
                                    <address>
                                        <strong>@item.Customer.TradingName</strong>
                                        <br>@item.Customer.PostalAddress1
                                        <br>@string.Format("{0}, {1}, {2}", item.Customer.PostalAddress2, item.Customer.PostalTown, item.Customer.PostalPostalCode)
                                        <br>Phone: @item.Customer.TelNumber
                                        <br>Email: @item.Customer.EmailAddress
                                        @if(!string.IsNullOrEmpty(item.Customer.VATNumber))
                                        {
                                            @Html.Raw("<br>" + item.Customer.VATNumber)
                                        }
                                    </address>
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-4 invoice-col">
                                    <b>Invoice @item.OrderNumber</b>
                                    <br>
                                    <b>Order ID:</b> @item.Id
                                    <br>
                                    <b>Account:</b> @item.Customer.CustomerCode
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                            <!-- Table row -->
                            <div class="row">
                                <div class="col-xs-12 table table-striped fill">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Quantity</th>
                                                <th>Product Unit</th>
                                                <th style="width: 59%">Product Code</th>
                                                <th>Unit Price</th>
                                                <th>Amount</th>
                                                <th>VAT</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var prod in item.OrderLines.Where(x => x.IsReplaced == false))
                                            {
                                                <tr>
                                                    <td>@prod.Quantity</td>
                                                    <td>@prod.Unit</td>
                                                    <td>@prod.ProductCode</td>
                                                    <td>@prod.UnitPrice</td>
                                                    <td>@prod.Amount</td>
                                                    <td>@prod.VATAmount</td>
                                                </tr>

                                                @*if (prod.IsReplaced)
                                                {
                                                    var replacedProd = item.OrderLines.FirstOrDefault(x => x.ProductId == prod.ReplacedProductId);
                                                    if (replacedProd != null)
                                                    {
                                                        <tr>
                                                            <td>@replacedProd.Quantity</td>
                                                            <td>@replacedProd.Unit</td>
                                                            <td>@replacedProd.ProductCode</td>
                                                            <td>@replacedProd.UnitPrice</td>
                                                            <td>@replacedProd.Amount</td>
                                                            <td>@replacedProd.VATAmount</td>
                                                        </tr>
                                                        <tr>
                                                            <td>&uarr; <strike>@prod.Quantity</strike></td>
                                                            <td>&uarr; <strike>@prod.Unit</strike></td>
                                                            <td>&uarr; <strike>@prod.ProductCode</strike></td>
                                                            <td>&uarr; <strike>@prod.UnitPrice</strike></td>
                                                            <td>&uarr; <strike>@prod.Amount</strike></td>
                                                            <td>&uarr; <strike>@prod.VATAmount</strike></td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    if (!item.OrderLines.Any(x => x.ReplacedProductId == prod.ProductId))
                                                    {
                                                        <tr>
                                                            <td>@prod.Quantity</td>
                                                            <td>@prod.Unit</td>
                                                            <td>@prod.ProductCode</td>
                                                            <td>@prod.UnitPrice</td>
                                                            <td>@prod.Amount</td>
                                                            <td>@prod.VATAmount</td>
                                                        </tr>
                                                    }
                                                }*@
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                            <div class="row">
                                <!-- accepted payments column -->
                                <div class="col-xs-6">
                                    <p class="lead">Account Information:</p>
                                    <p class="text-muted well well-sm no-shadow">
                                        Account Name: @Model.CompanyInfo.AccountName
                                        <br>Account Number: @Model.CompanyInfo.AccountNumber
                                        <br>Bank Name: @Model.CompanyInfo.BankName
                                        <br>Branch Code: @Model.CompanyInfo.BranchCode
                                        <br>Branch Name: @Model.CompanyInfo.BranchName
                                    </p>
                                </div>
                                <!-- /.col -->
                                <div class="col-xs-6">
                                    <p class="lead">Amount Due</p>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th style="width:50%">Subtotal:</th>
                                                    <td>R @item.SubTotal</td>
                                                </tr>
                                                <tr>
                                                    <th>VAT (14%)</th>
                                                    <td>R @item.VATAmount</td>
                                                </tr>
                                                <tr>
                                                    <th>Total:</th>
                                                    <td>R @item.Total</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>
                        <div class="break-after"></div>
                    }
                </div>
            </div>
        </div>
    }
}

