﻿@model List<Suppliro.Entities.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            @{
                if (Model == null || Model.Count == 0)
                {
                    <div class="bs-example" data-example-id="simple-jumbotron">
                        <div class="jumbotron">
                            <h1>No invoiced orders found</h1>
                        </div>
                    </div>
                }
                else
                {
                    <div class="x_title">
                        <h2>Invoiced Orders</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table table-striped" id="Suppliers">
                            <thead>
                                <tr>
                                    <th>
                                        Order Number
                                    </th>
                                    <th>
                                        Customer
                                    </th>
                                    <th>
                                        Date Created
                                    </th>
                                    <th>
                                        Date Completed
                                    </th>
                                    <th style="width: 50px;">Download</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.OrderNumber
                                            </td>
                                            <td>
                                                @item.CustomerName
                                            </td>
                                            <td>
                                                @item.DatePlaced
                                            </td>
                                            <td>
                                                @item.DateCompleted
                                            </td>
                                            <td style="min-width: 25px">
                                                @Html.ActionLink("Download", "HistoryAsPDF", "Invoice", new { id = item.Id }, new { @id = item.Id, @class = "btn btn-primary viewclick" })
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                }
            }
        </div>
    </div>
</div>