﻿@model List<Suppliro.Entities.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}


<div class="page-title">
    <div class="title_left">
        <h3>
            Order Handling
        </h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            @{
                if (Model == null || Model.Count == 0)
                {
                    <div class="bs-example" data-example-id="simple-jumbotron">
                        <div class="jumbotron">
                            <h1>No orders found to be invoiced</h1>
                        </div>
                    </div>
                }
                else
                {
                    <div class="x_title">
                        <h2>Customers with open Invoices</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        @Html.ActionLink("Download Invoices", "DownloadActionAsPDF", "Invoice", null, null)
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table table-striped" id="Suppliers">
                            <thead>
                                <tr>
                                    <th>
                                        Order Number
                                    </th>
                                    <th>
                                        Customer
                                    </th>
                                    <th>
                                        Date Placed
                                    </th>
                                    <th style="width: 150px;">Mark as Invoiced</th>
                                    <th style="width: 50px;">Download</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.OrderNumber
                                            </td>
                                            <td>
                                                @item.CustomerName
                                            </td>
                                            <td>
                                                @item.DatePlaced
                                            </td>
                                            <td style="min-width: 25px">
                                                @Html.ActionLink("Mark Invoiced", "MakrInvoiced", "Invoice", new { id = item.Id }, new { @id = item.Id, @class = "btn btn-primary viewclick" })
                                            </td>
                                            <td style="min-width: 50px">
                                                @if (item.IsInvoiced)
                                                {
                                                    @*@Html.ActionLink("Download", "DownloadActionAsPDF", "Invoice", new { id = item.Id }, new { @id = item.Id, @class = "btn btn-primary viewclick" })*@
                                                    @Html.ActionLink("Download", "DownloadActionAsPDFEdited", "Invoice", new { id = item.Id }, new { @id = item.Id, @class = "btn btn-primary viewclick" })
                                                }
                                                else
                                                {
                                                    @Html.Raw("Not Finalized");
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                }
            }
        </div>
    </div>
</div>