﻿@model Suppliro.Areas.Admin.ViewModels.ProFormaViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdminEmpty.cshtml";
}

@{
    if (Model == null)
    {
    }
    else
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="break-before"></div>
                    <section class="content invoice">
                        <!-- title row -->
                        <div class="row">
                            <div class="col-xs-12 invoice-header">
                                <h1>
                                    <img src="~/Content/img/SuppliroSmall.png" /> VAT Invoice
                                    <small class="pull-right">Date: @Model.Invoice.DateCompleted.Value.ToString("dd/MM/yyyy")</small>
                                </h1>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- info row -->
                        <div class="row invoice-info">
                            <div class="col-sm-4 invoice-col">
                                From
                                <address>
                                    <strong>@Model.CompanyInfo.TradingName</strong>
                                    <br>@Model.CompanyInfo.Address1
                                    <br>@string.Format("{0}, {1}, {2}", Model.CompanyInfo.Address2, Model.CompanyInfo.City, Model.CompanyInfo.PostalCode)
                                    <br>Phone: @Model.CompanyInfo.TelNumber
                                    <br>Email: chumi@suppliro.com
                                </address>
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 invoice-col">
                                To
                                <address>
                                    <strong>@Model.Invoice.Customer.TradingName</strong>
                                    <br>@Model.Invoice.Customer.PostalAddress1
                                    <br>@string.Format("{0}, {1}, {2}", Model.Invoice.Customer.PostalAddress2, Model.Invoice.Customer.PostalTown, Model.Invoice.Customer.PostalPostalCode)
                                    <br>Phone: @Model.Invoice.Customer.TelNumber
                                    <br>Email: @Model.Invoice.Customer.EmailAddress
                                    @if (!string.IsNullOrEmpty(Model.Invoice.Customer.VATNumber))
                                    {
                                        @Html.Raw("<br>" + Model.Invoice.Customer.VATNumber)
                                    }
                                </address>
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 invoice-col">
                                <b>Invoice @Model.Invoice.InvoiceNumber</b>
                                <br>
                                <b>Order ID:</b> @Model.Invoice.Id
                                <br>
                                <b>Account:</b> @Model.Invoice.Customer.CustomerCode
                                <br>
                                <b>VAT:</b> @Model.CompanyInfo.VATNumber
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <!-- Table row -->
                        <div class="row" style="min-height:850px;">
                            <div class="col-xs-12 table table-striped fill">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Quantity</th>
                                            <th>Product Unit</th>
                                            <th style="width: 59%">Product Code</th>
                                            <th>Unit Price</th>
                                            <th>Amount</th>
                                            <th>VAT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var line in Model.Invoice.InvoiceLines.Where(x => x.IsReplaced == false)
                                        .GroupBy(x => x.ProductCode).Select(g => new
                                        {
                                            ProductCode = g.Key,
                                            ProductUnitPrice = g.First().ProductUnitPrice,
                                            ProductUnit = g.First().ProductUnit,
                                            Quantity = g.Sum(p => p.Quantity),
                                            VATAmount = g.Sum(p => p.VATAmount),
                                            SubTotal = g.Sum(p => p.SubTotal)
                                        }).OrderBy(x => x.ProductCode))
                                        {
                                            <tr>
                                                <td>@line.Quantity</td>
                                                <td>@line.ProductUnit</td>
                                                <td>@line.ProductCode</td>
                                                <td>@line.ProductUnitPrice</td>
                                                <td>@line.SubTotal</td>
                                                <td>@line.VATAmount</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <div class="row">
                            <!-- accepted payments column -->
                            <div class="col-xs-6">
                                <p class="lead">Account Information:</p>
                                <p class="text-muted well well-sm no-shadow">
                                    Account Name: @Model.CompanyInfo.AccountName
                                    <br>Account Number: @Model.CompanyInfo.AccountNumber
                                    <br>Bank Name: @Model.CompanyInfo.BankName
                                    <br>Branch Code: @Model.CompanyInfo.BranchCode
                                    <br>Branch Name: @Model.CompanyInfo.BranchName
                                </p>
                            </div>
                            <!-- /.col -->
                            <div class="col-xs-6">
                                <p class="lead">Amount Due</p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th style="width:50%">Subtotal:</th>
                                                <td>R @Model.Invoice.SubTotalAmount</td>
                                            </tr>
                                            <tr>
                                                <th>VAT (14%)</th>
                                                <td>R @Model.Invoice.VATAmount</td>
                                            </tr>
                                            <tr>
                                                <th>Total:</th>
                                                <td>R @Model.Invoice.TotalAmount</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </section>
                    <div class="break-after"></div>
                </div>
            </div>
        </div>
    }
}

