﻿@model Suppliro.Entities.Invoice

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>@Model.InvoiceNumber</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Date Added
                        </th>
                        <th>
                            Order Number
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Product Unit
                        </th>
                        <th>
                            Product Code
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.InvoiceLines)
                    {
                        <tr>
                            <td>
                                @item.DateAdded
                            </td>
                            <td>
                                @item.OrderNumber
                            </td>
                            <td>
                                @item.Quantity
                            </td>
                            <td>
                                @item.ProductUnit
                            </td>
                            <td>
                                @item.ProductCode
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>