﻿@model List<Suppliro.Entities.Invoice>

@{
    ViewBag.Title = "ProFormas";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<div class="page-title">
    <div class="title_left">
        <h3>
            Pro Forma Invoices
        </h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Open Pro Forma Invoices</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @{
                    if (Model == null || Model.Count == 0)
                    {
                        <div class="bs-example" data-example-id="simple-jumbotron">
                            <div class="jumbotron">
                                <h1>No open Pro Forma Invoices</h1>
                            </div>
                        </div>
                    }
                    else
                    {
                        <table class="table table-striped" id="Suppliers">
                            <thead>
                                <tr>
                                    <th>
                                        Customer
                                    </th>
                                    <th>
                                        Invoice Number
                                    </th>
                                    <th>
                                        Date Created
                                    </th>
                                    <th>
                                        Date Completed
                                    </th>
                                    <th>
                                        Sub Total
                                    </th>
                                    <th>
                                        Vat
                                    </th>
                                    <th>
                                        Total
                                    </th>
                                    <th style="width: 50px;">View</th>
                                    <th style="width: 50px;">Download</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var invoice in Model)
                                    {
                                        <tr>
                                            <td>
                                                @invoice.CustomerTradingName
                                            </td>
                                            <td>
                                                @invoice.InvoiceNumber
                                            </td>
                                            <td>
                                                @invoice.DateCreated
                                            </td>
                                            <td>
                                                @invoice.DateCompleted
                                            </td>
                                            <td>
                                                @invoice.SubTotalAmount
                                            </td>
                                            <td>
                                                @invoice.VATAmount
                                            </td>
                                            <td>
                                                @invoice.TotalAmount
                                            </td>
                                            <td style="min-width: 25px">
                                                @Html.ActionLink("View", null, null, new { @id = invoice.Id, @class = "btn btn-primary viewclick" })
                                            </td>
                                            <td style="min-width: 25px">
                                                @Html.ActionLink("Download", "ProformaAsPDF", "Invoice", new { id = invoice.Id }, new { @id = invoice.Id, @class = "btn btn-primary" })
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                                    }
                }
            </div>
        </div>
    </div>
</div>

<div class="row proforma">

</div>

@section scripts{
    <script type="text/javascript">
        $('.viewclick').click(function (e) {
            e.preventDefault()

            var id = $(this).attr("id");

            $(".proforma").empty().append("<div class='loader'><img src='/Content/img/Loader/ajax-loader.gif' alt='Loading' /></div>");

            $.ajax({
                url: "@Url.Action("Proforma", "Invoice")",
                data: { id: id },
                cache: false,
                type: "get",
                dataType: "html",
                success: function (result) {
                    $(".proforma").empty().append(result);
                }
            });
        });
    </script>
}

