﻿@model Suppliro.Areas.Admin.ViewModels.UoMMapperViewModel

@{
    ViewBag.Title = "AddMapping";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                @{
                    if (Model.UoMMapper.Id == 0)
                    {
                        <h1>Add Unit of Measure Mapping</h1>
                    }
                    else
                    {
                        <h1> Edit </h1>
                    }
                }
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm("SaveMapping", "UoM", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.HiddenFor(x => x.UoMMapper.Id)
                    @Html.HiddenFor(x => x.UoMMapper.UoM.Id)
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <h2>Add Mapping for @Model.UoMMapper.UoM.Code</h2>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            <label>Map To</label>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownListFor(m => m.UoMMapper.CompareToUoMId, Model.UoMs, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            <label>Value</label>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.UoMMapper.Value, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "Value" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

