﻿@model Suppliro.Areas.Admin.ViewModels.UoMViewModel

@{
    ViewBag.Title = "EditUoM";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                @{
                    if (Model != null && Model.UoM.Id == 0)
                    {
                        <h1>Add Unit of Measure</h1>
                    }
                    else
                    {
                        <h2> Edit </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a href="../AddMapping/@Model.UoM.Id" class="collapse-link"><i class="glyphicon glyphicon-plus"></i></a>
                            </li>
                        </ul>
                    }
                }
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm("SaveUoM", "UoM", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.HiddenFor(x => x.UoM.Id)
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <h2>General Information</h2>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.LabelFor(m => m.UoM.Code)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.UoM.Code, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "Code" })
                        </div>
                    </div>
                    if (Model != null && Model.UoMs != null)
                    {
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                <label>Map To</label>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownListFor(m => m.UoM.DefaultUoMId, Model.UoMs, new { @class = "form-control" })
                            </div>
                        </div>
                    }
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h1>Unit of Measures Mapped</h1>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    @{
                        if (Model != null && Model.UoM.UoMMappers != null && Model.UoM.UoMMappers.Count > 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Unit of Measure</th>
                                        <th>Unit of Measure Mapped To</th>
                                        <th>Value</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var uom in Model.UoM.UoMMappers)
                                    {
                                        <tr>
                                            <td>@uom.UoM.Code</td>
                                            <td>@uom.CompareToUoMCode</td>
                                            <td>@uom.Value</td>
                                            <td>@Html.ActionLink("Edit", "AddMapping", new { id = @uom.UoM.Id, uomId = @uom.Id })</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
