﻿@model List<Suppliro.Entities.UoM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Unit of Measure's</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a href="UoM/EditUoM" class="collapse-link"><i class="glyphicon glyphicon-plus"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @{
                    if (Model != null && Model.Count == 0)
                    {
                        <div class="bs-example" data-example-id="simple-jumbotron">
                            <div class="jumbotron">
                                <h1>No Unit of Measure's Found</h1>
                            </div>
                        </div>
                    }
                    else
                    {
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Unit of Measure</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var uom in Model)
                                {
                                    <tr>
                                        <td>@uom.Code</td>
                                        <td>@Html.ActionLink("Edit", "EditUoM", new { id = @uom.Id })</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                }
            </div>
        </div>
    </div>
</div>